[2017-01-03 10:08] MaxMarschall commented on #120
There's still something fishy with this. Each time I try using that custom boundary there appears a buoyantBoussinesqSimpleFoam.log that has this message in it:

See attached. What does this mean?

Cheers,
Max

[buoyantBoussinesqSimpleFoam.zip](https://github.com/mostaphaRoudsari/butterfly/files/682004/buoyantBoussinesqSimpleFoam.zip)

[2017-01-03 10:17] DambronOlivier commented on #120
[indoor_airflow_heat3.zip](https://github.com/mostaphaRoudsari/butterfly/files/682009/indoor_airflow_heat3.zip)

sorry for the late upload.

I think in the case we are trying out we are concerned about convective heat transfer.
Radiation is a different phenomenon, or perhaps neglectable in this case.
The definition I uploaded hereby returns the same messages regarding MRF models and finite Volume.

[2017-01-03 10:40] DambronOlivier commented on #120
@MaxMarschall
I opened your file and gave attention to :

 was invoked on rank 2 in communicator MPI_COMM_WORLD
with errorcode 1.

NOTE: invoking MPI_ABORT causes Open MPI to kill all MPI processes.
You may or may not see output from other processes, depending on
exactly when Open MPI kills them.

Are you using multi processors? I believe I came accross the same error using the DecomposeparDict.

[2017-01-03 13:11] hdimor commented on #134
Hi @DambronOlivier ,
Thank you so much for your reply,
I run it again with jagged component, without any change. when we should use that?

Also I opened in para view, I see the problem in mesh.
![photo_2017-01-03_16-28-13](https://cloud.githubusercontent.com/assets/24868572/21608502/ca606f6a-d1b4-11e6-9872-d6d9f29cbddf.jpg)

Is could be solved with refinement Region mode ?

Hi @TheodoreGalanos , d

[2017-01-03 13:18] MaxMarschall commented on #120
@DambronOlivier ,

I am...but it's funny, I opened your file and also used multiple processors and everything worked out fine.

[2017-01-03 13:52] TheodoreGalanos commented on #134
Hi @hdimor

I apologize didn't have time to see it today, I will check it tomorrow I promise.

From the mesh screenshot you provide I can see there are big problems in the meshing. Are those tubes supposed to be a closed or an open area (I assume open on the edges and not on top)?. Is the cube below a solid or hollow? If it is a solid you can try using one solid, i.e. subtract the tubes from the c

[2017-01-03 15:44] mehrzad69 commented on #137
hi @TheodoreGalanos ,
thank you for your respond. The case and the screenshot attached which show the velocity vectors.

![t1](https://cloud.githubusercontent.com/assets/24231261/21612999/b709f1e6-d1e8-11e6-8ff2-9e1c6efda7f9.PNG)

[2017-01-03 16:03] mehrzad69 commented on #137
@mimarilker thank you so much. I will do research about similarity types. Do you suggest any links to start?

[2017-01-03 16:12] MaxMarschall opened #140 "Define flow rate at inlet"
Hello,

If I know the size of my vent (e.g. 1m²) and the required flow rate (e.g. 1m³/s), can I specify this in BF?

The inlet component has a velocity vector as input, what exactly does this mean - [1,0,0] in this case (1m³/s)?

Cheers,
Max

[2017-01-03 16:16] MaxMarschall commented on #140
...also, how do I simulate heat from people and equipment? Say I'm assuming 400Watts per person (body heat, computer, lighting etc.) and I place some boxes in the space representing them, which temperature do I need to give the boxes to approximate this?

Cheers,
Max

[2017-01-03 19:10] mimarilker opened #141 "Butterfly flies freely:)"
I am nearly coming to an end on solving butterfly run issues such as "host is not running" or "didnt find the container" etc. Just wanted to make you hear the news!

[2017-01-03 23:12] TheodoreGalanos commented on #140
Hi @MaxMarschall

The velocity inlet applies a velocity boundary condition on the inlet. The vector shows the direction of the inlet velocity, so a [1,0,0] would be 1m/s with a X+ direction.

If you want to apply a volumetric flow to your inlet you can do it by using a custom boundary condition and assigning a flow rate inlet velocity which is very simple to set up (see https://github.com/OpenFOAM

[2017-01-03 23:31] TheodoreGalanos commented on #137
Hi @mehrzad69  I will take a look at your case today.

Btw, this is the pressure vectors and not velocity ones. So if you feel that the vectors are not showing any turbulence, that might be the reason.

Kind regards,
Theodore.

[2017-01-03 23:37] TheodoreGalanos commented on #141
@mimarilker
That's amazing! Let us know of the progress!

[2017-01-04 02:47] hdimor commented on #134
Hi @TheodoreGalanos ,
No worries and thank you.
Yes its hollow.
![photo_2017-01-04_06-15-26](https://cloud.githubusercontent.com/assets/24868572/21630319/ea1467b2-d227-11e6-98bd-ba499ac4c155.jpg)

I will check your suggestion.
Thanks again.

[2017-01-04 12:54] mimarilker commented on #138
Cutplane Tool : currently works for xy and yz planes (seperate comp.), user assingns a value between 0-100 (means start and end of the domain in percentage) with slider, and the comp. gives feedback as to real location in meters. The output testGeometry should be linked to "generate test points comp "(honeybee).

![image](https://cloud.githubusercontent.com/assets/22752273/21642724/f8379638-d28c-1

[2017-01-04 13:29] MaxMarschall commented on #140
Hi @TheodoreGalanos ,

I'm a bit lost...I followed that link but I'm not sure how to make sense of it and translate it to BF. Here is my attempt but it doesn't seem to having an effect:

![canvas at 14 22 27](https://cloud.githubusercontent.com/assets/23235030/21643660/da209d64-d289-11e6-8127-262f2e96d2c4.png)
![g](https://cloud.githubusercontent.com/assets/23235030/21643665/df2538b0-d289-11e6-929

[2017-01-04 14:04] DambronOlivier commented on #120
@MaxMarschall
One thing to beware of is the behaviour at the ceiling.. seems that the airflow escapes from there as if the boundary conditions were not specified correctly. The heat should stratify or flow back by convection.
@TheodoreGalanos , would you have an idea on this issue?

On 3 Jan 2017 2:18 pm, MaxMarschall <notifications@github.com> wrote:

@DambronOlivier<https://github.com/DambronOli

[2017-01-04 14:33] mimarilker commented on #120
@MaxMarschall there is something wrong with temparture probe values, so I just created a standart wall boundary for heat source and give it 300 degree C to see if it works, but no success. You can see the numeric domain of temperature probe values in the image below, this should be handled first.

![t probe](https://cloud.githubusercontent.com/assets/22752273/21645568/4134dc2a-d29b-11e6-8fdb-ab090

[2017-01-04 14:54] MaxMarschall commented on #120
@mimarilker @DambronOlivier ,
Which model are you referring to - my original one or Olivier's?
I think the unusual numeric domain is usually due to probe points lying outside boundaries...Not a problem if you define the bounds for display yourself.

[2017-01-04 15:04] MaxMarschall commented on #120
Here I've used the default BF inlet boundary condition component for an opening top right and an outlet bottom left:
![rh](https://cloud.githubusercontent.com/assets/23235030/21646642/37435cc2-d297-11e6-90ce-37000f78dcc7.jpg)
![diff](https://cloud.githubusercontent.com/assets/23235030/21646644/399aeb48-d297-11e6-9b1e-51a1b94fe352.PNG)

Weirdly it seems like they're switched...Also I'd expect the w

[2017-01-04 15:12] mimarilker commented on #120
I couldnt excatly understand the problem, but I have solved the problem with temp. probe values. I just replaced the weird numbers (100000000000000000000...) with 300 degree(temp. of the heat source) and it worked at the end.

[2017-01-04 15:14] TheodoreGalanos commented on #120
Hi Max,

Usually OF follows the normal direction of the surface.

You can do one of two things I believe. Make sure the normals of the surfaces point in the right direction (you can use the dir command in Rhino to see) or put negative numbers in the boundary condition.

Again though I never have to do the second if I make sure the first is set correctly.

I am sorry I can't provide more insight. T

[2017-01-04 15:19] MaxMarschall commented on #120
Hi Theodore,

I ran it one with the surface of the inlet flipped and it turned out the same:
![rh](https://cloud.githubusercontent.com/assets/23235030/21647143/5e261c10-d299-11e6-876e-d449d45fa783.jpg)
![g2](https://cloud.githubusercontent.com/assets/23235030/21647144/600363c6-d299-11e6-91d4-fc9a24a2867f.jpg)

In both cases I set the _velocityVec of the inlet to an X vector of 20. If you say OF ta

[2017-01-04 15:27] mostaphaRoudsari opened #142 "Running docker for non-administrator users on Windows"
This might address the issue for users with standard account. This is important as if the docker runs without administrative privilege then we can use it also for honeybee.

https://forums.docker.com/t/running-docker-toolbox-as-standard-user-in-windows-7-issue-workaround/13036

[2017-01-04 15:30] TheodoreGalanos commented on #120
Ehm yes you should have the same vector that you want your inlet to follow. It's hard to see from the screenshot but if the inlet vector is the Z then yes it should be smth like uniform (0 0 20);

[2017-01-04 15:41] TheodoreGalanos commented on #140
Hi Max,

The volumetric flow rate can be defined as follows (within BF's custom boundary):

![image](https://cloud.githubusercontent.com/assets/13436572/21647698/463c8ade-d2d6-11e6-932f-65fef30ab193.png)

You'd need to fill out the other fields, you can use the BF defaults.

As for the temperature gradient you can try smth like this (I can test this tomorrow but should work on principle):

![image

[2017-01-04 15:44] MaxMarschall commented on #120
It looked just the same when I entered a Z vector with the inlet component, and again the same if I try the custom component, be it `uniform (0 0 20)` or `uniform (20 0 0)`...
![value0 0 20](https://cloud.githubusercontent.com/assets/23235030/21648086/054f7556-d29d-11e6-85af-b7e9266bb510.jpg)
![value20 0 0](https://cloud.githubusercontent.com/assets/23235030/21648090/07c649ae-d29d-11e6-92db-887c13

[2017-01-04 17:36] saket411 opened #143 "Outdoor Analysis Snappyhexmesh error"
I was running the outdoor analysis as it is from the example gh file uploaded. There happens to be just one error in running it. Pls have a look at the image attached.

The point coordinate mentioned in the error is the center of the wind tunnel box, which it picks up by default. I tried to give it a custom point on the surface of the bounding box as well but it would still show the same error. Wo

[2017-01-04 18:11] mimarilker commented on #143
run Rhino in `large object meters` template

[2017-01-04 18:30] mimarilker commented on #142
I have also tried this one, but no success. The docker runs but this time Of container cant run without admin. privileges. This is the most challenging part that I am trying to solve.

[2017-01-04 18:46] DambronOlivier commented on #140
@TheodoreGalanos  Thank you so much for sharing this.

@MaxMarschall  have a look here for a Turbulence Parameters Calculator at Inlet Boundary.
https://www.learncax.com/knowledge-base/tools/cfd-calculation-tools/turbulence-parameter-calculator-at-inlet-boundary

[2017-01-04 19:49] DambronOlivier commented on #140
@TheodoreGalanos
I have set the boundary conditions as you forwarded in your secnd image.
It seems that  fixedGradient is not implemented yet in BF.
![bc](https://cloud.githubusercontent.com/assets/21184323/21656625/43083ff0-d2bf-11e6-8e75-b4766ec8518c.PNG)

[2017-01-04 20:37] mimarilker commented on #143
your velcome

[2017-01-04 22:32] TheodoreGalanos commented on #140
Hi Olivier,

Do you get an error while trying to run the case? Or is it that the BC doesn't appear in BF's BCs? I am not sure this component would add it to a library of sorts (maybe this is smth we can add if it doesn't). If you get a BF error then this is odd since the custom boundary condition should simply create text that gets passed to the relevant 0 folder files of the case of the boundary

[2017-01-05 02:16] saket411 commented on #143
![image](https://cloud.githubusercontent.com/assets/1322619/21666601/b05e9694-d32d-11e6-8a09-26fd525b8ae8.png)

Just checked. It works. Many Thanks!!

So would you recommend setting the units to meters when running wind tunnel for large objects and to millimeters for doing indoor airflow? Also do the results look correct?
I am a beginner in CFD. Would be great if you can recommend some sources to

[2017-01-05 02:28] TheodoreGalanos commented on #143
Hi @saket411 I would always suggest to have it in meters. OF works in meters, when the models aren't users are able to scale it inside the case files. But there's no need for that.

[2017-01-05 02:51] mostaphaRoudsari commented on #143
@saket411 I second @TheodoreGalanos's suggestion however if you have everything set in the right units it should work fine with butterfly. In your case the size of the wind tunnel in mm are very small. If you input the sizes in mm then it should work fine. If you're using the example file as it is then you change the units to meters as @mimarilker suggested.

[2017-01-05 02:51] #143 closed

[2017-01-05 02:52] DambronOlivier commented on #140
Hi @TheodoreGalanos ,
Thank you so much.

When I add a manually written BC for T as you suggested I get an error at the createcase component where a certain string object has no attribute valueDict:
![bc_str_error1](https://cloud.githubusercontent.com/assets/21184323/21667179/fb072ca6-d2f6-11e6-9406-cc462130f570.PNG)

Same error occured when I wrote the panels with the BC as you suggested for alph

[2017-01-05 03:09] mostaphaRoudsari commented on #136
1. To avoid recalculation just set the Boolean for meshing components to False. Next time that you open the file you can bypass both component and connect the case directly to the solution. Butterfly will look under `polyMesh` folder for the mesh and will run if the mesh is available.

2. Similar to 1 if you ran the analysis before you can load them w/o re-running the case. Loading all the points

[2017-01-05 03:11] mostaphaRoudsari commented on #140
@DambronOlivier can you open a separate issue for this. Looks like a bug. Thanks.

[2017-01-05 03:34] mostaphaRoudsari commented on #133
@mimarilker just sent you a note on google hangouts.

[2017-01-05 05:23] saket411 opened #144 "Multiple inlet velocity vectors for outdoor airflow"
I read through the old posts but could not find a proper solution to my problem.
I want to have the inlet wind profile as in this image -
![image](https://cloud.githubusercontent.com/assets/1322619/21669831/0a0dadb2-d34a-11e6-9c23-b2cffe5148b0.png)

Any hints how I can do this. Lets say have 10 different velocity vectors varying with height following the formula.

Thanks!!

[2017-01-05 07:34] mimarilker commented on #144
Actually you can define a log. profile with an equation, however on wintunnel component there is an option named "landscape" and I think it does the same thing, if you check velocity probes you will see that there is already a wind speed profile through the wind tunnel domain. So I think thats enough, you may compare it with a logaritmic profile to be sure.

[2017-01-05 07:40] TheodoreGalanos commented on #144
Hi @saket411

There is no need to manually define a logarithmic boundary profile in OF. Butterfly is using the OF ABL function to assign automatically (to all outdoor cases) the ABL profile on the inlet. So as long as you are using the outdoor workflow you are assigning this profile to your inlet.

In OF the only thing you provide is typically the inlet velocity and reference height (for that velo

[2017-01-05 07:42] saket411 commented on #144
Yes I was just going to post that there is already a gradation by changing the landscape values. I just compared two of them.
![image](https://cloud.githubusercontent.com/assets/1322619/21672315/b7a4b36e-d35c-11e6-9d2d-8af94942f80b.png)
Looks like this should be enough.

[2017-01-05 07:42] #144 closed

[2017-01-05 07:45] TheodoreGalanos commented on #144
Btw I would suggest the opposite configuration than the one I see in your screenshot. You need to have a small windward extension and large leeward extension of your WT. I would suggest 3x height for windward (distance from inlet to geometry) and 10-15x height for leeward (distance from geometry to outlet). You need to allow the outflow to stabilize.

[2017-01-05 08:20] mimarilker commented on #144
Actually as Bert Blocken (has very very important studies on cfd) suggests as to the domain size, 5x height for windward (distance from inlet to geometry and x denotes for the tallest building height ) and 15x height for leeward (distance from geometry to outlet).Moreover 6x from ground plane, lastly 5x for both sides.

[2017-01-05 08:30] TheodoreGalanos commented on #144
Hi @mimarilker Yes that is true, Blocken also references the same guidelines (Franke et al.) we used to assign these values. These guidelines however were based on a EU research project and were tailored to the EU region. The fault is mine really, I'm situated in the Tropics and I always think for the Tropics first. Wind velocities here are much much lower and we can get away with smaller values f

[2017-01-05 08:31] TheodoreGalanos commented on #144
Hi @mimarilker Yes that is true, Blocken also references the same guidelines (Franke et al.) we used to assign these values.

(I HIGHLY recommend these guidelines as reading material, a lot of useful information for case setup in there: https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0ahUKEwiq-pCwy6rRAhXKqo8KHSdGAaEQFggeMAA&url=http%3A%2F%2Ftheairshed.com%2Fpdf%2FCOST%2520732%2

[2017-01-05 08:34] saket411 commented on #144
Actually the wireframe in the image above is the refinement box. The WT is as it is set in the example file (5,15,10).
But maybe I should take more test area for better visualization.
![image](https://cloud.githubusercontent.com/assets/1322619/21673476/0bb505ce-d364-11e6-8408-dc5bd142063f.png)

[2017-01-05 08:50] saket411 commented on #144
I am in Singapore. For urban level studies the codes say 'The surrounding buildings reside within 500 m distance stream wise and span wise from the edge of development of interest should be modelled explicitly'.

So they just need a clear 500m offset in x and y direction on all 4 sides. No mention of the height, but 5x should be enough.

[2017-01-05 09:24] saket411 commented on #142
I had to get IT in my office grant me admin permissions for OpenFOAM, Docker and Git. Then only I was able to run it.

[2017-01-05 09:44] TheodoreGalanos commented on #144
You can also increase quality of results by multi-grading. I'm attaching a simple case with multiple grading, only on the Z axis. The settings roughly (I did it almost by hand) assign a 1m cell size on Z for the first 25 meters and a (total) cell expansion of 3 for the rest 50 meters.

P.S.: The case is also an example of wind comfort studies but you can ignore that and treat it as a single case.

[2017-01-05 10:28] mimarilker commented on #144
@Theodore as you said multi-grading is of importance as to reduce calculation time. However it is better to say that this type of grading should be added for all axes to minimize calc. time. In detail, the mesh should expanse from the model geometry to the outer faces of domain, there may be a comp. doing this for user easily. Btw I always apply grading in Fluent and FloEFD.

On the other hand, to

[2017-01-05 10:43] mimarilker commented on #142
Yeah I know that saket411, have you reviewed the issues that I opened. I am working to solve it, at the end I will let all you know about it. Just need time, I have re-installed OF, docker and vm for nearly 50 times until now to try possibilities:)

[2017-01-05 10:49] MaxMarschall opened #145 "Refinement at inlet"
Dear @TheodoreGalanos ,

There might be another reason for the problems I've been having with inlets lately:
![meshinlet](https://cloud.githubusercontent.com/assets/23235030/21677786/f0c75758-d33b-11e6-82be-c8756dc49092.jpg)

As you can see, no surface refinement seems to be happening at the inlet...any ideas why? I'm attaching the definition, would be great if you could help!

Best regards,
Max
[

[2017-01-05 11:16] TheodoreGalanos commented on #144
@mimarilker Yes you are right this is an example of Z multi-grading. In normal, production cases, x,y, and z multi-grading should be applied (with care) since it really improves mesh quality without the need to increasing mesh cell count. I will try and add a true multi-grading example tomorrow. I think I can find the time to create it.

You are also correct on the second point, that is what I tri

[2017-01-05 11:22] mimarilker commented on #144
waiting for multigrading component than, it will be amazing @Theodore, please let me know.

[2017-01-05 11:23] DambronOlivier opened #146 "Boundary Conditions custom, handwritten."
@TheodoreGalanos @mostaphaRoudsari @MaxMarschall @mimarilker

The case in question is of a Heat Transfer recipe with RAS model to simulate the Airflow inside a room considering internal heat gains (human body, equipment).
Here is the definition in question:
[indoor_airflow_heat3.zip](https://github.com/mostaphaRoudsari/butterfly/files/687088/indoor_airflow_heat3.zip)

When adding a manually writte

[2017-01-05 11:27] TheodoreGalanos commented on #144
@mimarilker Yes that would be amazing. Unfortunately my biggest flaw is that I don't code so I couldn't really develop it.

I have made a kind of algorithmic way to do it (i.e. a GH definition) but it's hacky. I think we could combine that and the amazing work here https://openfoamwiki.net/index.php/Scripts/blockMesh_grading_calculation to create a component.

Let me know if you want to assist on

[2017-01-05 11:36] saket411 commented on #129
I got the same issue. I disconnected _cellSizeXYZ_ panel and set it to default {1, 1, 1}.
The error will go away.

[2017-01-05 12:02] saket411 commented on #144
@**TheodoreGalanos** Did you do the GM in BF?

[2017-01-05 12:36] TheodoreGalanos commented on #144
The case preparation yes. The model was a Rhino model so BF made it easy.

I almost always run my cases in Linux though, speed difference is quite substantial for that size of models (usually around 25-30 million cells).

We did do a wind comfort and thermal comfort study in the same project though and there BF excelled. The first iteration of developing 36 cases for each wind direction took maybe

[2017-01-05 12:43] saket411 opened #147 "Urban wind flow solution run issues"
I set up an urban model for outdoor wind analysis. I have contour mesh as well but for a first run I have not included it. I remember it gave a memory error upon running blockmesh with the contours.
![image](https://cloud.githubusercontent.com/assets/1322619/21678999/71e28ff2-d37c-11e6-9d1d-4a797221fd6b.png)

I am unable to do the grading properly
![image](https://cloud.githubusercontent.com/asset

[2017-01-05 13:33] TheodoreGalanos commented on #147
I think the size of your cells is quite big, if that is what I see in the mesh picture (2nd one). I would do smth like 2m max around the buildings, maybe 1m cell on the Z direction for the first 10-15 meters and no bigger than 2m again until the max height.

The low memory issue is probably the VM, provided you have a strong enough computer. Try giving more memory from the VM (you need to open, st

[2017-01-05 14:43] saket411 commented on #147
I read the VM memory solution in an old post so did not highlight that but thanks for mentioning the solution again.

I had been searching for a cell size option for quite some time today. After I was unable to find it I posted the issue and came home. Just now read your comment and thought to give it another try on my personal laptop. I opened your script again and saw the input for cell size.
I

[2017-01-05 14:56] #147 closed

[2017-01-05 17:58] mimarilker commented on #146
I didnt get any errors with this file.

[2017-01-05 21:21] DambronOlivier commented on #146
@mimarilker
Did you let it run some time and observe the non-convergence until the error around time 95?

[2017-01-05 21:23] mimarilker commented on #146
sorry, do not wait this iteration actually, but as I know divergence stems from mostly insufficient mesh and incompatible boundary conditions.

[2017-01-05 23:44] mostaphaRoudsari opened #148 "Butterfly repository is transferred under ladybug-analysis-tools"
All,

Just wanted let you all know that I transferred butterfly library under `ladybug-analysis-tools` organization as we're getting ready for the public release. The links will be redirected so most of the stuff should work fine. Please let us know if you face any issues.

Cheers,
Mostapha

[2017-01-06 00:00] MaxMarschall commented on #146
I have been getting the same error, usually after like 2 timesteps...

[2017-01-06 00:01] mostaphaRoudsari opened #149 "Upgrade to OpenFOAM v1612"
Ideally this should not break the current workflows and the current version but if it is going to this is the right time to do so. I also hope they have made progress in making windows images for OpenFOAM.

[2017-01-06 00:22] TheodoreGalanos commented on #149
Hi @mostaphaRoudsari

The biggest change is the post-processing CLI. It might change a bit how we set up the post-processing components. As we discussed, it's actually a good change for us since they are somewhat structuring it like we did with BF, but it is a change nonetheless.

I'll try and install the new version and try it out.

Kind regards,
Theodore.

[2017-01-06 00:25] TheodoreGalanos commented on #146
Hi everyone,

As @mimarilker says if the simulation starts that means that there is no BF or OF error for that matter. The main reason for the divergence of the solution (which is what the error shows) are indeed the mesh and boundary conditions.

Reading the error it seems that there is something wrong with the calculation of pressure, as it drops to 0 (1e-21). I'll try and run the case today let

[2017-01-06 01:08] TheodoreGalanos commented on #145
Hi Max,

The SHMDict looks in order, the refinement levels are there.

It is a bit hard to see the inlet from the screenshot. From what I see from the side, the outlet seems to be getting refined (you can see those two smaller cell layers). It doesn't appear the same on the inlet.

Without running the case (i'll do that from the office if I can) I would guess the most possible reason is the maximu

[2017-01-06 02:14] saket411 commented on #147
I changed the cell size looks okay now. Also added multi grading. Hopefully it should speed up the computation.
![image](https://cloud.githubusercontent.com/assets/1322619/21705113/cc447ec0-d3f8-11e6-9aca-f95f9a38dba3.png)

simpleGrading (
	(
		(0.2 0.1 4.0)
		(0.6 0.8 1.0)
		(0.2 0.1 4.0)
	)
	(
		(0.1 0.1 4.0)
		(0.35 0.7 1.0)
		(0.55 0.2 4.0)
	)
	(
		(0.4 0.7 1.0)
		(0.2 0.2 2.0)
		(0.4 0.1 4.0)

[2017-01-06 04:28] TheodoreGalanos commented on #147
Hi @saket411 It looks good, great job.

Now let's polish it.

One of the most important things to take care when grading is the jump from one cell to the other at the boundary of the graded region. This jump should be ideally not more than 1.2-1.3, meaning the cell outside  should be at maximum 1.2-1.3 times bigger.

In your picture there is a big jump in all sides. You can correct this by either

[2017-01-06 05:50] saket411 commented on #147
Wow many thanks for the crash course. I will have to understand and absorb the information properly. I reduced the cell size to 10 and it just gets stuck esp. if I preview the meshes. I have few general questions -
1. If I have 10 mil cells how much time would it take to run say 100 steps.
2. How much the no. of analysis planes and spacing between the analysis points (probes) influence the run tim

[2017-01-06 08:26] saket411 commented on #147
Thanks for the response.
I have been trying to get a decent setting for a trial run. So far I have only been able to reduce it to 9M cells and the grid I feel is already on the limit (coarse) for a trial run. Refinement is set to 3.
![image](https://cloud.githubusercontent.com/assets/1322619/21711786/d31ab7fe-d42b-11e6-8576-846131911ecc.png)

I am unable to figure out what I should do to reduce th

[2017-01-06 08:52] saket411 commented on #147
Also which point I should use for the locationInMesh?
Currently I have manually selected a point placed somewhere
I believe I have not understood how this part works. Most of the times I see this error
![image](https://cloud.githubusercontent.com/assets/1322619/21712218/5836a9dc-d42e-11e6-91ca-0f486b24ecc1.png)

[2017-01-06 09:24] MaxMarschall commented on #145
Hi Theodore,

The outlet does act normally concerning refinement. When I had the problem with maximum cells before, the result was always a regular mesh, i.e. with any refinement at all, not something in between like this.
I thought that maybe the inlet was too small to register, so I actually now decreased the cell size, resulting in many more cells, and still everything works fine apart from the

[2017-01-06 09:39] MaxMarschall commented on #145
Hm I wonder why I didn't notice this before, but it seems like also the walls are being refined wrongly. If I only insert the walls as BF geometry, this happens:
![sc](https://cloud.githubusercontent.com/assets/23235030/21713814/0f95afca-d3fc-11e6-8927-cab1efc0a455.jpg)

It looks like grading but I'm using the default.
![canvas at 14 22 27](https://cloud.githubusercontent.com/assets/23235030/21713

[2017-01-06 10:11] MaxMarschall commented on #145
This is just getting weirder all the time...

I opened the indoor_airflow sample from github and the mesh turned out just like it should:
![1](https://cloud.githubusercontent.com/assets/23235030/21714746/e1b93d74-d400-11e6-9cee-69293864507a.jpg)

Then I simply built my own walls, inlet and outlet of roughly the same size, replaced them in the sample definition and this happened:
![2](https://cloud

[2017-01-06 10:31] MaxMarschall commented on #145
Interestingly, if I bake the internalized geometry from the sample and relink this geometry it works, but when I then simply move all the geometry somewhere else, it starts messing up the inlet again:
![3](https://cloud.githubusercontent.com/assets/23235030/21715238/9e618d9e-d403-11e6-924d-ee9e52fe0e23.jpg)

[2017-01-06 10:50] TheodoreGalanos commented on #145
Hi @MaxMarschall

Could it be that your walls are completely overlapping with the inlet/outlet? You should have separate non-overlapping surfaces for both, meaning the walls should have a whole where the inlet/outlet are.

If that's not the case, could you maybe see if parafoam shows the same thing? You can open the case by navigating in the terminal and typing paraFoam -builtin if simple paraFoam

[2017-01-06 11:04] MaxMarschall commented on #145
Dear @TheodoreGalanos ,

It looks the same in Paraview:
![capture](https://cloud.githubusercontent.com/assets/23235030/21715995/0059a37a-d408-11e6-808f-6a7799243160.PNG)

This is how it is built in Rhino:
![rh](https://cloud.githubusercontent.com/assets/23235030/21716016/1cee9de2-d408-11e6-925f-df4f7d304161.PNG)

I think this is how you describe it, and after all this is the baked geometry from th

[2017-01-06 12:08] mimarilker commented on #147
Hi, @saket411 could you please share the latest version of gh file to be reviewed, its not easy to give instructions from a screenshot.

[2017-01-06 12:11] mimarilker commented on #149
wow! renewing the components for the new improvements of postprocessing would be very good @Theodore

[2017-01-06 12:14] mimarilker commented on #148
Is it just a clone of this reprository ? I mean we will continue to write from here, wont we?

[2017-01-06 12:31] saket411 commented on #147
[Outdoor Wind Analysis.zip](https://github.com/ladybug-analysis-tools/butterfly/files/689848/Outdoor.Wind.Analysis.zip)

That would be great if someone can have a look at it.
Some things to note -
1. The wind tunnel size is reduced since I wanted to decrease the no. of cells.
2. The geometry is far away from the origin. You might need to scroll out a bit.

Q. - When I double the cell size, no. of

[2017-01-06 14:08] mimarilker commented on #146
I ran that case and saw problematic results as to temperature values. The highest ones are 10000000... which shows that something went wrong. However I have solved the issue by changing highest values (11 probes) and now the results are reasonable. I think the errors you saw somehow related with boundary conditions now mesh. Because that highest weird numbers stem from wrong boundary.

[2017-01-06 14:16] TheodoreGalanos opened #150 "Add renumberMesh command in the solution component"
This is a minor thing but it might provide increase in speed, which from my experience so far it's been disappointing in Windows.

The command is truly simple, only thing  typed is renumberMesh -overwrite and we can add it automatically to the run component right before running the case. It can also use a dictionary input which adds more options (although defaults are more than fine): https://deve

[2017-01-06 16:58] mostaphaRoudsari commented on #148
@mimarilker this is the exact same repository. I just changed the ownership from my account to ladybug-analysis-tools. The history and everything else stays as it used to be.

[2017-01-06 17:02] mostaphaRoudsari commented on #142
While it doesn't seem to be possible to run docker without Administrative account @mimarilker suggested a solution by changing the compatibility settings for the programs in Windows. It can be done once by an admin and should work fine afterwards.

![image](https://cloud.githubusercontent.com/assets/2915573/21725811/ecd0743c-d407-11e6-87ef-46b659549142.png)

![image](https://cloud.githubuserconten

[2017-01-06 17:09] mostaphaRoudsari commented on #149
The basic workflow runs fine on my machine with the new version.

![image](https://cloud.githubusercontent.com/assets/2915573/21725975/a2f99b30-d408-11e6-9dde-6233d7e82ad5.png)

@TheodoreGalanos @mimarilker if you point out the most important ones we can implement them first. At the minimum we can address this issue #61 using the CLI.

[2017-01-06 17:53] mostaphaRoudsari commented on #150
@TheodoreGalanos we can do this and it is fairly simple to implement but what about adding a component that let's you run any OpenFOAM command? Something like this:

![image](https://cloud.githubusercontent.com/assets/2915573/21727343/059c70cc-d40f-11e6-80c3-5fef1a7a1767.png)

[2017-01-06 18:00] DambronOlivier commented on #146
Hi @mimarilker ,

thanks for your time on this. Did you juste replace them with a python component? replacing values above threshold to average of rest?

Would you have an idea how to correct the BC for this case?

[2017-01-06 18:16] mostaphaRoudsari commented on #145
This might be a tolerance issue that inlet surfaces stays out of the meshing bounding box. Let me check this and see if I can recreate the issue.

[2017-01-06 21:00] mimarilker commented on #146
Actually its not very easy to replace highest numbers, I have tried too many things until to be succeed. Bcs as u know there is an order in the probe data, so just replacing didnt do trick. I will look for the file that I changed and let u know.

[2017-01-06 21:05] mehrzad69 commented on #137
@mostaphaRoudsari  The problem is that if the test geometry dimensions are bigger than limits, vectors are not showing any turbulence in an outdoor analysis. so I decided to change the scale of test geometry.

[2017-01-06 22:00] mostaphaRoudsari commented on #145
I can re-generate this error but couldn't figure out why it is happening. It's quite strange.

[2017-01-06 22:29] MaxMarschall commented on #145
Hi, thanks for giving this your attention. Not quite sure what you mean by base case? It's already night time here so I'm not at the office and can't check it out unfortunately. I never had problems like this with the outdoor simulations by the way.

[2017-01-07 01:09] TheodoreGalanos commented on #150
Yes @mostaphaRoudsari that can work. Only thing is that we make BF aware of when to run each command. Maybe a simple flag 'before' and 'after' is enough to tell it to run it before the run or after. For example, renumberMesh should be run right before. Although I guess maybe that's not necessary if this component actually runs it on the spot as I understand it does.

Btw this actually looks a lot

[2017-01-07 01:12] TheodoreGalanos commented on #137
Hi @mehrzad69 As I mentioned in my previous post the image you posted above is showing the pressure which will never show any kind of turbulence in the vector representation.

Can you please post the velocity vector visualization?

Kind regards,
Theodore.

[2017-01-07 01:14] TheodoreGalanos commented on #145
@mostaphaRoudsari I was thinking it could be in the way BF is creating the bounding box around the room for indoor cases?  But then if the BB was not correct the room would be meshed incomplete. This is weird.

[2017-01-07 03:35] TheodoreGalanos commented on #149
Hello,

There is a big number of function objects (FOs) avaialable. I will try to separate this in their respective categories. Not sure if I should open a new issue or just type here. I'll do it here for now and if needed I transfer everything in a new post.

First category is the fields category. These function objects capture, calculate, or access information about fields (e.g. U, p, k, e, etc.

[2017-01-07 07:36] mimarilker commented on #137
the problem is with meshing settings, I took the same results when I tried to use only block mesh for simulation, and we discussed this issue with @Mostapha yesterday. Its very clear in the velocity vectors  that Mehrzad shared. So as we all see there is no effect of obstacles in the results, the solution is to linking blockmesh not directly to simulation case and using snappyhexmesh for simulatio

[2017-01-07 09:33] TheodoreGalanos commented on #137
You could mesh with blockMesh, but only very simple shapes. you can for example draw vertices, boxes, spheres etc. So a simple box building can be done in blockMesh. But it's so tedious to do. Unless someone find an automatic way to generate shapes from Rhino into blockMeshdict files I'd say we stay away from that one.

[2017-01-07 10:07] mimarilker opened #151 ""Butterfly_Load Mesh" component"
For a very basic case, you get at least 30000 faces, its not very high to visualise with grasshopper, however, when you use lets say 1m mesh cell size for xyz, then it takes too much time to visualise mesh.  So I have edited this component( BF load mesh comp). Actually, it would be perfect for larger cases, also even in a complex case with higher mesh settings! It means %600 speed up even for a si

[2017-01-07 14:18] saket411 commented on #151
@**mimarilker** The visualize mesh component would freeze my gh if the no. of cells are more than 1m. Being a beginner many times its helpful for me to visualize to confirm the grading esp.
Thanks!! I look forward to test it.

[2017-01-07 16:27] mimarilker commented on #151
Actually, @ Mostapha will try to find a workaround for this.

[2017-01-08 02:03] mostaphaRoudsari commented on #145
@MaxMarschall @TheodoreGalanos it is actually a bounding box issue and it happens because of the difference between the vertices location in mesh vs brep surface in Grasshopper. The difference is very small (12.383216857910156 vs 12.3832) but makes issues for meshing. We couldn't see this in the sample file since the sizes were integer.
Thanks @MaxMarschall for finding this bug. The solution that

[2017-01-08 02:05] mostaphaRoudsari commented on #145
or maybe changing `snapControls.tolerance` in `snappyHexMeshDict`. I'm testing a couple of options.

[2017-01-08 09:45] mimarilker opened #152 "Segment Grading"
There is a limitation with segment grading, you can just use it for xyz directions, however it is required to be used for negative directions (like -y), is there a way to handle that. Check below for required segment grading. It decreases first, then its stable, lastly it increases, with current grading comp, unfotunately, its  not possible.

![segment](https://cloud.githubusercontent.com/assets/2

[2017-01-08 10:13] mimarilker commented on #152
I have found a way for this at this link https://openfoamwiki.net/index.php/BlockMesh#Generating_multi-graded_meshes

Thats the result!
![segment2](https://cloud.githubusercontent.com/assets/22752273/21748965/d26a4592-d59b-11e6-96c0-0435af7389bb.JPG)

[2017-01-08 13:40] mostaphaRoudsari commented on #151
@mimarilker, @saket411 seems there is an easier way for doing this by using `boundary` file under `polyMesh` folder. In this file you can find face numbers for each boundary geometry and just load them without loading the `InnerMesh`.
We should add a new parameter to `utilities.loadOFFacesFile` for this:  https://github.com/ladybug-analysis-tools/butterfly/blob/182a793b1945058e515a86eeccc9b332dcba

[2017-01-08 14:07] saket411 commented on #17
I noticed that all my .foam files have 0KB size. Is it supposed to be like this?
If I want to visualize my results in Paraview do I have to create a .foam file from OpenFoam terminal as mentioned in #103

[2017-01-08 14:15] mostaphaRoudsari commented on #17
@saket411 .foam file is an empty file which is created by Butterfly to automate what you see in #103. Your assumption is right. Just open the .foam file and you can visualize the results for the case.

[2017-01-08 14:15] mimarilker commented on #151
excellent new development than!

[2017-01-08 16:56] mimarilker opened #153 "Installation Instructions"
Instructions for Win10 are added to https://github.com/ladybug-analysis-tools/butterfly/wiki/Windows-10-Installation-Notes

Besides, there will be a tutorial video soon.

[2017-01-08 17:30] mostaphaRoudsari commented on #153
@mimarilker thanks! Looks good. You can use [markdown ](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)to make it look better.

[2017-01-08 17:32] mostaphaRoudsari commented on #152
@mimarilker I'm not sure what's the issue here. I believe you can already do this with butterfly.

[2017-01-08 17:36] mostaphaRoudsari commented on #149
@TheodoreGalanos thank you for adding the new functions. It's too much data for a single issue. I think we need to break them down into several issues but I also need your help to understand how these new functionalities can be integrated into the current process.

[2017-01-08 18:20] mimarilker commented on #152
yes, u re right, actually its an OF knowledge and a bit tricky.

[2017-01-08 18:23] mimarilker commented on #153
Thanks, I will give it a try.

[2017-01-08 18:28] mostaphaRoudsari commented on #152
Then let's close this! It can be confusing. I saw your note up there but closed issues will also come up in searches.

[2017-01-08 18:28] #152 closed

[2017-01-08 18:29] MaxMarschall commented on #145
Great, thank you! Will check it out first thing in the morning!

[2017-01-08 20:54] #151 closed

[2017-01-08 20:54] mostaphaRoudsari commented on #151
![image](https://cloud.githubusercontent.com/assets/2915573/21753376/e61b17ce-d5b9-11e6-9383-a8928425fb2c.png)

[2017-01-08 20:55] mostaphaRoudsari commented on #148
This seems not to create any issues.

[2017-01-08 20:55] #148 closed

[2017-01-08 21:01] mostaphaRoudsari commented on #113
This is fixed!

[2017-01-08 21:01] #113 closed

[2017-01-08 21:03] mostaphaRoudsari commented on #132
@DambronOlivier thanks! I just fixed this. It should be fine after the next commit.

[2017-01-08 21:06] mostaphaRoudsari commented on #130
I'm going to close this as I think I answered the question. @the-donn feel free to re-open the issue if you think it's necessary.

[2017-01-08 21:06] #130 closed

[2017-01-08 21:21] mimarilker commented on #151
I have updated Bf to load new component, it has come, however now blockmesh comp. is missing and the newer version of load mesh comp. gives error. I just linked the blockMesh case output with it and connected a boolean to load it. Btw you can regenerate same error with trying it on outdoor_airflow case.

1. Solution exception:loadMesh() takes exactly 1 argument (2 given)

[2017-01-08 21:32] mostaphaRoudsari commented on #137
This is wrong. If you check the bounding box you can see that it re-sizes based on the size of the building. In other you don't need to scale your building at all. Just make sure to set up the meshing parameters correctly.

![image](https://cloud.githubusercontent.com/assets/2915573/21753613/b244e6a0-d5be-11e6-8cbc-d23142f681e2.png)

The mesh is also fine if you run both `blockMesh` and `snappyHex

[2017-01-08 21:32] #137 closed

[2017-01-08 21:33] mostaphaRoudsari commented on #141
@mimarilker should we close this now that you added the directions for installation?

[2017-01-08 21:54] mimarilker commented on #141
yes, as you know it doesnt seem possible to run BF without administrator priviliges, for those who are not experienced with vm, docker or container system can use the instructions as u said. I will continue to seek for a workaround for non-admin. users. It is very important for the students using lab computers as u mentioned.

[2017-01-08 21:54] #141 closed

[2017-01-08 22:00] mostaphaRoudsari commented on #146
Hi @DambronOlivier,

1. For boundary component you can only use the boundary types that's available. The text input will work for solution parameters but not the boundary component. This is an inconsistency that we need to address as soon as possible.

2. Make sure probes are located in the meshed area. A number of probes are located inside the heatbox / human body and so the number of probes won'

[2017-01-08 22:02] mostaphaRoudsari opened #154 "Boundary component should accept text inputs"
similar to solution parameters. see https://github.com/ladybug-analysis-tools/butterfly/issues/146#issuecomment-271182953

[2017-01-08 22:07] mostaphaRoudsari commented on #140
I [opened an issue](#154 ) for this. the Boundary component currently doesn't accept text inputs.

My understanding from this discussion is that we also need a boundary condition component for `flowRateInletVelocity`? I can add a new component for that.

[2017-01-08 22:15] mostaphaRoudsari commented on #138
Now that I read this again, and after the discussion that we had I think the best approach for this sort of problems is to use either the postprocessing commands from OpenFOAM which is already submitted here (#61) or use ParaView's python library. I did a couple of tests inside paraview and it's a very powerful library which covers all the functionalities that we are looking for. There is also a `

[2017-01-08 22:18] mostaphaRoudsari commented on #136
The visualization has been discussed in other issues. Closing this one!

[2017-01-08 22:18] #136 closed

[2017-01-08 22:21] mimarilker commented on #138
I am exactly agree on that. Lets make the release first, then BF will be get improved with newer integrated postprocessing capabilities like streamline, contour maps, isosurface etc.

[2017-01-08 22:46] mostaphaRoudsari commented on #129
@saket411 here is where you can increase RAM access for the VM. In order to be able to adjust the value you need to turn off the default machine.

![image](https://cloud.githubusercontent.com/assets/2915573/21754232/51c24b5e-d5ca-11e6-9675-dbaf84b270d4.png)

[2017-01-08 22:48] mostaphaRoudsari commented on #127
@chriswmackey I just installed the latest version of OF4Windows on a machine without admin account and everything works fine. Did you try to run the bat file as administrator?

[2017-01-08 22:52] mostaphaRoudsari commented on #112
I believe that I know why this is happening. I use the case name to name several variables in openfoam dictionaries which should be source of the bug. If that is the case then there should be a straight forward fix for this.

[2017-01-08 23:55] TheodoreGalanos commented on #138
@mostaphaRoudsari That would be amazing! Parafoam is one of the best visualization tools and its library is also made for (massive) parallel visualizations. I think connecting to it would be superior to using OF utilities. It would also possibly be smth to look for in the (future) cloud versions.

On the other side, there are a few FOs and utilities that are only in OF. Ofc you can almost do every

[2017-01-08 23:56] TheodoreGalanos commented on #17
@saket411 Even if there wasn't one, parafoam would usually recognise the structure of an OF case and create the .foam file for you. So you should be able to open it, if not let us know of the error (if any).

[2017-01-09 00:05] TheodoreGalanos commented on #149
@mostaphaRoudsari Ok I will seperate them into separate issues maybe.

We can have a discussion this week and talk about how each one integrates. Also maybe in relation to this #103

[2017-01-09 00:46] DambronOlivier commented on #153
@mimarilker  This is very useful. Thanks!
I've added some additional comments on the Mac side:
https://github.com/ladybug-analysis-tools/butterfly/wiki/Windows-10-Installation-Notes-on-Mac

[2017-01-09 01:16] DambronOlivier commented on #146
@mostaphaRoudsari  Thank you! works like a charm.

[2017-01-09 01:57] #112 closed

[2017-01-09 02:02] saket411 opened #155 "Failed to find new probes"
Hello all,

I have ran into this issue 4-5 times now. I am running an urban scale model (500m x 500m). 150,000 cells only. Takes an hour or more to mesh and then always pops this error
_1. Solution exception:Failed to load values:
Failed to find probes folder folder at C:\Users\saket.sarupria\butterfly\SimpleUrbanModel_1\postProcessing\probes_

![image](https://cloud.githubusercontent.com/assets/1

[2017-01-09 02:05] mostaphaRoudsari commented on #151
@mimarilker thanks. the reason it didn't work first time after the update is that Rhino caches the python libraries after import, so to load the new library after the update you need to close both Rhino and Grasshopper.

[2017-01-09 02:37] saket411 commented on #17
Thanks all!!
Yes I was able to run it smoothly. No issues.
![image](https://cloud.githubusercontent.com/assets/1322619/21756077/581bd708-d657-11e6-9147-60ed546b5068.png)
I was just a bit concerned if my setup was wrong as I didn't expect the .foam file to have 0KB size.

[2017-01-09 05:30] mimarilker commented on #155
there is a problem with mesh, I assume you have an informal topografy, maybe you should review it. Btw failed to find probes error mostly means that the solution couldnt finished or started accurately etc. Os there is no results.

[2017-01-09 05:37] mimarilker opened #156 "Mesh independency"
Mesh independency is very important to ensure the accuracy of the simulation results. I know that its an OF issue, however for default mesh settings we are using in sample files its crucial, bcs most of the people will just replace the brep geometry in these files and try to get accurate results for all types of geometries. So I advise to run some mesh independency tests for this sample cases and

[2017-01-09 06:24] saket411 commented on #155
Thanks @**mimarilker** for the input.
I have a contoured mesh. I will try to run it on a flat terrain and see its works.

[2017-01-09 08:57] saket411 commented on #142
I cannot run BF after the update. I asked IT to give admin rights and they changed it as mentioned above.
BF is throwing the same error whatever I do.
_1. Solution exception:In order to run OpenFOAM using butterfly you must use an admin account or run the program as administrator._

It was working smoothly before.
Pls help!! urgent!

[2017-01-09 08:59] MaxMarschall opened #157 "Admin account needed to run BF since last update"
Dear @mostaphaRoudsari ,

I just updated Bf using the Butterfly component, and now the Create case from Geometries component gives me this message:
![untitled](https://cloud.githubusercontent.com/assets/23235030/21761276/2766f796-d652-11e6-9bfa-a80ef2064635.png)

I also notice that the "Last updated" date isn't today's date - is that normal?

Cheers,
Max

[2017-01-09 09:01] saket411 commented on #142
Any way I can revert back to old version.

[2017-01-09 09:23] mimarilker commented on #142
I have cleaned all the script and ghuser files and used installer.gh file to reinstall butterfly, than it begun to work. You may try this maybe, I think there is sth wrong with replacing older files during update which may stem from even admin. issues:(

[2017-01-09 09:25] mimarilker commented on #157
I have cleaned all the script and ghuser files related with BF and used installer.gh file to reinstall butterfly, than it begun to work. You may try this maybe, I think there is sth wrong with replacing older files during update which may stem from even admin. issues:(

[2017-01-09 09:41] MaxMarschall commented on #157
Hi @mimarilker ,
I just restarted my PC, opened OF_Env, OF and Rhino all as administrator and it works.

[2017-01-09 09:43] DambronOlivier commented on #157
After Updating butterfly its is necessary to close Gh and Rhino and reopen as Administrator.

[2017-01-09 09:45] saket411 commented on #142
@**mimarilker** Are you running as the admin yourself or working as another user on the machine.
I cleaned up the scripts folder and ghuser files. Restarted the pc and reinstalled BF. It won't work. Would be great if someone can help.
@**mostaphaRoudsari** pls assist

[2017-01-09 09:50] DambronOlivier commented on #142
@saket411
I ran into the same issue after updating.
I closed Gh, Rhino and shut down Default through Oracle.
Re-opened OpenFOAM_Start and Rhino both as admin.

[2017-01-09 10:06] saket411 commented on #142
@**DambronOlivier** Tried. No luck.
Again, are you the admin yourself? Maybe restarting/reinstalling works if you are the admin. In my case I am unable to work it out.

[2017-01-09 10:30] MaxMarschall opened #158 ""UNC paths are not supported""
An error I have been getting quite often lately is this:
![untitled](https://cloud.githubusercontent.com/assets/23235030/21763557/bb94e7be-d65e-11e6-9645-6dadc54f5843.png)

It seems to happen when Grasshopper has been open for a while without me having worked in it for some time, or when I change a lot in the definition. If I restart Rhino, everything starts working again. It's only a minor inconv

[2017-01-09 10:49] mimarilker commented on #142
I have admin. account, I think there is no problem with the updated runmanager.py, the new lines in the code just shows if the problem stems from admin.privileges issues or I think so.

[2017-01-09 10:51] mimarilker commented on #157
So, the issue was solved than.

[2017-01-09 10:54] mimarilker commented on #158
when I take this kind of error, I just change the case file name or in worse cases I delete the current case folder.

[2017-01-09 10:58] MaxMarschall commented on #157
Yeah, good enough for me.

[2017-01-09 10:58] #157 closed

[2017-01-09 11:57] saket411 commented on #142
I was able to run it on my personal laptop (as admin). Had to fresh install BF.
I think for non admin users its not working.

[2017-01-09 12:21] chriswmackey commented on #127
@mostaphaRoudsari ,
I have not tried it with the latest OpenFOAM yet and I will install it shortly.  I was never running the bat files as administrator and I was always running them from the Butterfly components. I'll try doing that this time if it doesn't work at first.

[2017-01-09 12:33] mostaphaRoudsari commented on #127
@chriswmackey by batch file I meant `OpenFOAM_Start.bat` which starts the OpenFOAM in the first place. Also can you try to run Rhino as Administrator?

[2017-01-09 12:38] mostaphaRoudsari commented on #142
@saket411 this exception `1. Solution exception:In order to run OpenFOAM using butterfly you must use an admin account or run the program as administrator.` has nothing to do with OpenFOAM installation. It simply checks to make see if you are running Rhino with an administrative account. Are you sure that you're running Rhino as an administrator? You need to right click on Rhino logo and then sele

[2017-01-09 12:41] chriswmackey commented on #127
To clarify, I have been running OpenFOAM / Butterfly while signed into an administrator account but I have never navigated to the bat file, right-clicked it, and chosen the "Run as Administrator" option. I am not sure which one you are referring to here, @mostapharoudsari , but I will try both and all combinations with the new OpenFOAM.

[2017-01-09 12:43] mostaphaRoudsari commented on #157
As I mentioned in another discussion this exception doesn't have to do with OpenFOAM. I'm copying it here for the future reference:

`1. Solution exception:In order to run OpenFOAM using butterfly you must use an admin account or run the program as administrator.` has nothing to do with OpenFOAM installation. It simply checks to make see if you are running Rhino with an administrative account. Are

[2017-01-09 12:44] mostaphaRoudsari commented on #156
@mimarilker can you provide suggestions for the input values? I'm going to assign this to you, and we will see if anybody else has an input on the defaults.

[2017-01-09 12:51] mostaphaRoudsari commented on #158
@MaxMarschall thanks. The next time that it happens can you open the python component and copy the full error message. It's much easier to fix if we know the line number.

[2017-01-09 12:58] mostaphaRoudsari commented on #158
also are you running butterfly on a shared network folder? or `\\berlin\...` is a local path and butterfly is adding an extra \ to it that makes it look like a UNC?

[2017-01-09 13:00] saket411 commented on #142
@**mostaphaRoudsari**
I am not admin on the pc I am working on. But I asked IT to set rhino run as admin as described in your steps.
![image](https://cloud.githubusercontent.com/assets/1322619/21767318/62eefc30-d6ae-11e6-932a-835e9bcb6841.png)

[2017-01-09 13:02] MaxMarschall commented on #157
Ah, good to know about that code.

I did start Rhino as you describe, only I never used to have to do it that way. Here is the full error message:
[code]

Cheers,
Max

[2017-01-09 13:09] mostaphaRoudsari commented on #157
Hi @MaxMarschall. I think you're confusing two different discussions. I asked the full error report for [this one](https://github.com/ladybug-analysis-tools/butterfly/issues/158#issuecomment-271277118). :)

[2017-01-09 13:14] MaxMarschall commented on #157
Haha I did, sorry about that!

[2017-01-09 14:23] mimarilker commented on #156
yes ofc, I have already been working on it, you can assign it to me.

[2017-01-09 15:20] mimarilker opened #159 "Postprocessing New Development"
I have just tried to achieve isosurface view, actually it was not so difficult, but at least its a new development:) Btw I have invented a new view type for CFD result processing named "iso-wires", however I am not sure that someone discovered it before me:)

Lets review the attached images!

![iso-wires](https://cloud.githubusercontent.com/assets/22752273/21771413/ebf9f4ae-d68f-11e6-8004-f4070ad1

[2017-01-10 05:21] #159 closed

[2017-01-10 05:22] #156 closed

[2017-01-10 05:22] #153 closed

[2017-01-10 10:33] MaxMarschall opened #160 "Initial Room Temperature"
Hi,

In this case, I set the temperatures in the boundary conditions to:
- 7.9°C (281.05K) for the inlet
- 12.6°C (285.75K) for the room walls
- 20.0°C (293.15K) for the boxes

However, in the early time steps the room temperature seems to be at around 27°C (ca. 300K):
![1](https://cloud.githubusercontent.com/assets/23235030/21803015/6f596aee-d728-11e6-805c-8d5896af33af.PNG)

In later time steps e

[2017-01-10 10:52] MaxMarschall opened #161 "Transient vs. Steady State"
I have a super basic question that probably stems from my ignorance of CFD...

I was just asked if the simulations I'm doing in BF are transient or steady-state, and I wasn't able to answer with certainty.

Is this even a valid question? Can it be answered in general or does it depend on the solution properties I'm setting? Or can both states be present during a solution?

I figured it was transie

[2017-01-10 11:18] MaxMarschall commented on #158
Dear @mostaphaRoudsari ,

It's a shared folder. Like I said it usually works fine. I just ran into the error again after I linked new geometry to the definition and changed the boundary conditions. I may have saved the GH file under a new name just before this happened, but I can't remember for sure.

This is the full error message:
[code]

[2017-01-10 11:26] TheodoreGalanos commented on #160
Hi @MaxMarschall It is usually the internalField value in the T folder that determines initial temperatures. But that is on iteration 1. Everything changes on iteration 2 and onwards. I wouldn't give much thought to initial steps, it's garbage in terms of results anyways. You should focus on if the residuals are reducing and the temperatures are going towards what is expected.

Kind regards,
Theod

[2017-01-10 11:39] TheodoreGalanos commented on #161
Hi @MaxMarschall All simulations currently in BF are steady-state. It's mostly the issues relating to OF in Windows (e.g. installation problems) that have kept us away from further development that would include transient recipes.

A steady state can have, and always does have, an iterator (i.e. step). What happens at each step is a better (hopefully) approximation of the same moment in time (stea

[2017-01-10 13:15] MaxMarschall commented on #161
Hi @TheodoreGalanos ,

Thanks for explaining that in a way that is understandable to human beings! I did search online but the explanations tend to be unnecessarily geeky.

The video would be great to see, unfortunately it won't play...?

Cheers,
Max

[2017-01-10 18:18] andrear4568 opened #162 "Problem with installation process on Windows 7"
Hello Mostapha,

I have problems to install Butterfly on my pc with Win7.
There it is the installation process I do:

PART 1: NEW INSTALLED SOFTWARES
1. OF_Env_Create (run as admin)
2. OpenFOAM_Start (run as admin)
3. Open Oracle VM and start the default machine
4. Open Kinematic (Alpha)--> Error: connect ENONENT//./pipe/docker_engine as follow
![aa](https://cloud.githubusercontent.com/assets/2503

[2017-01-11 00:07] TheodoreGalanos commented on #161
Hi @MaxMarschall You should be able to play it if you have vlc. I made it in Linux, I feel it's ogg vorbis but I forget. VLC plays it though.

Kind regards,
Theodore.

[2017-01-11 13:21] mostaphaRoudsari commented on #121
This is fixed now: https://github.com/mostaphaRoudsari/ladybug/pull/340

[2017-01-11 13:21] #121 closed

[2017-01-11 14:30] mostaphaRoudsari commented on #76
A couple of more tests and this is done!
![image](https://cloud.githubusercontent.com/assets/2915573/21852309/8fbdb9c6-d7e0-11e6-9447-9ffeea39b65a.png)

[2017-01-11 16:41] andrear4568 commented on #43
Hello @vansicek I have the same issue, have you solved it?

[2017-01-11 17:33] DambronOlivier commented on #160
hi @MaxMarschall

Could you share the boundary conditions that you have set for this example? The ones I have been using so far for the heat sources seem to make my simulation diverge.

[2017-01-11 18:13] mimarilker commented on #162
Follow the instructions in the attached link and let us know if it works. Actually these inst. are for win10 but it should work for win7 too.

https://github.com/ladybug-analysis-tools/butterfly/wiki/Windows-10-Installation-Notes

[2017-01-11 18:16] mimarilker commented on #43
I advise you to make a clean istall. Follow the instructions in the attached link and let us know if it works.

https://github.com/ladybug-analysis-tools/butterfly/wiki/Windows-10-Installation-Notes

[2017-01-11 18:17] mimarilker commented on #43
I advise you to make a clean install. Follow the instructions in the attached link and let us know if it works.

https://github.com/ladybug-analysis-tools/butterfly/wiki/Windows-10-Installation-Notes

[2017-01-11 23:01] mostaphaRoudsari commented on #162
@andrear4568 as @mimarilker said you need to make sure every step of the installation has been successful otherwise you won't be able to run OpenFOAM.

In your case the docker is not installed correctly and it's normal that the rest is not working. Did you follow the installation instruction including the changes in BIOS?

[2017-01-12 12:08] andrear4568 commented on #162
Hello guys, thanks for your answer.

I have followed, the Windows 10 installation notes and Butterfly started finally to work.

Just for you to know, during the scripting process in Docker (second step from the guide https://github.com/ladybug-analysis-tools/butterfly/wiki/Windows-10-Installation-Notes), I have a little issue:

_This is the step:
“press enter,then write:
docker load -i of_v1612plu

[2017-01-12 12:10] mimarilker commented on #162
Because you are not at the true directory, as you see the current directory is "c". So, please review the instructions again and write the correct path.

[2017-01-12 12:42] andrear4568 commented on #162
Hello @mimarilker
you're right I've wrong to type the code.
Now it is working perfectly
![qqq](https://cloud.githubusercontent.com/assets/25038491/21890194/73f9f7c4-d8c4-11e6-8f6d-c850d3c5c8b0.PNG)

thanks

[2017-01-12 13:00] mimarilker commented on #162
good to hear!

[2017-01-12 16:52] maythuzaw opened #163 "optimization with butterfly"

[2017-01-13 03:14] maythuzaw commented on #163
Hello..My name is May..I am a new user to butterfly.I want to run my multiphase turbulent openfoam case with butterfly for optimization.Is it possible or not with current butterfly version?Because I saw the post that currently butterfly can run only steady incompressible case.If someone knows ,please help me.Thank you very much.

[2017-01-13 10:22] andrear4568 commented on #162
Luckily the are some people that can illuminate some users with problems !

Thank you for you help

[2017-01-13 10:32] saket411 commented on #110
Hello everyone!!

I am trying to absorb the BF meshing parameters with trial and error at the moment.

I baked the SHM for a model I am working on, its a simple urbanscape on flat ground. The results look okay but the meshing appears to be hollow in some areas. Is it supposed to be like this?
![mesh perspective](https://cloud.githubusercontent.com/assets/1322619/21925148/16f28548-d9b7-11e6-976d-4a

[2017-01-13 11:12] andrear4568 commented on #162
@mimarilker First of all thank you for your help, I really apreciate it.
Please consider that not all users are at the same level, and it is possible that sometimes someone might ask some questions, that you consider irrelevant.
However - as you previously wrote - there was an error on the guide instructions, so, I don't see any "problematic" situation after that.
ps: please do not edit your repli

[2017-01-13 11:15] saket411 commented on #110
Okay just to update the region inside the refinement zone is ...really refined and outside the box is not so good. This picture explains it all
![image](https://cloud.githubusercontent.com/assets/1322619/21928235/8d838b50-d9c4-11e6-90bc-d00aa383b8e9.png)
Left - Outside, Right - Inside

[2017-01-13 11:17] mimarilker commented on #162
Yes, you are right, however the problem was with github's text file format, not with me and you:)

[2017-01-13 11:22] andrear4568 commented on #162
Thanks for saying it, I appreciate it.
Good luck, and thanks again for you fantastic work!

[2017-01-13 11:36] mimarilker commented on #110
Actually, there has to be lots of things done as to meshing settings. I think there should be some additional options, hex mesh should be optional. I always prefer cartesian cutcell mesh, but being new to OF is very bad, so I dont know how to get finer, accurate mesh with OF. Please review the attached image.

![cartesiangrid350](https://cloud.githubusercontent.com/assets/22752273/21928750/421d29c

[2017-01-13 11:43] saket411 commented on #110
@**mimarilker** The equation is like alien language to me :P

I saw the quality parameter in SHMDict. I hope it comes out soon.
![image](https://cloud.githubusercontent.com/assets/1322619/21928903/7c4a4fc8-d9c8-11e6-9c96-84562d3f0a10.png)

[2017-01-14 00:10] mostaphaRoudsari commented on #162
I'll close this one as the issue is already solved!

[2017-01-14 00:10] #162 closed

[2017-01-14 08:50] mimarilker commented on #163
I advise you to check OpenFOAM forums as to this , if its possible with OF, then there may be a way to make it work in BF too.

[2017-01-14 09:06] maythuzaw commented on #163
@mimarilker Thank you very much for your reply.In OF,it is possible to run my case.What I want to do now is I want to connect that  case with Butterfly for optimization of Ship hull form and finding optimum solution.Since I am just a user,I don't know that much about the code used in Butterfly.Can butterfly able to run all OpenFOAM case?

[2017-01-14 09:12] mimarilker commented on #163
@TheodoreGalanos is very experienced on OF, so I think he knows if its possible with BF.

[2017-01-14 09:17] maythuzaw commented on #163
@TheodoreGalanos Could you give me some suggestions about this?

[2017-01-14 09:44] TheodoreGalanos commented on #163
Hi @maythuzaw

I apologize for the late response, I am currently moving into a new house and access to a computer has been limited.

As of the moment, BF is not capable of creating multi-phase recipes so you would not be able to run your case through BF. Thankfully, that is the least of your worries when your goal is the parametric optimization of geometrical properties, since they will not affect

[2017-01-14 11:02] maythuzaw commented on #163
@TheodoreGalanos Thank you so much for your reply.You explained it very well. Now I know the answer that I am looking for. I run my case with OF LTS interFOAM DTC hull.My plan is to do parametric modelling with GH and run with openFOAM and do optimization for hull resistance by changing some parameters of the hull. Since BF  can't able to do multiphase right now,I will try to do it in another way.

[2017-01-14 15:16] mimarilker opened #164 "SHM vs Cartesian Cutcell mesh"
As we know there are some tiny problematic issues with SHM integration to BF, it is clear that mesh is mostly not uniform and aspect ratio is mostly too high eventhough the higher refinement levels. I have tried to set connection with Alta Dynamics Software on this issue, they have a standalone meshing module for cutcell mesh (http://altadyna.com/cfd/discretizer/). I have requested this module and

[2017-01-14 21:53] #134 closed

[2017-01-15 11:45] mimarilker commented on #164
I have made some additional researches on this issue and see that there are two different typical mesh refinement types named "volume refinement" and "surface based refinement". Actually with BF we are using vol.ref. as default, so I checked SHM dict pyhton file for additional features, however I couldnt find. So I advise to add a surface refinement option for meshing, it would be amazing!

[2017-01-15 13:31] TheodoreGalanos commented on #163
Hi @maythuzaw I'm glad it made sense.

I think you could still take advantage of BF, if only for it's .stl export ability (I'm not aware of another GH plugin that does it in this way). It will allow you to export individual .stl per region or one .stl with all regions included and named properly.

In my experience of practical cases where each case differs in one value of a parameter from the othe

[2017-01-15 13:42] TheodoreGalanos commented on #164
Hi @mimarilker

We have already implemented surface refinement, it is the refinementLevel input on the BF input geometries. We didn't separated it mostly because that's just about the extent of the options required in SHM (i.e. 2 integers for min-max ref. levels).

The main reason for high aspect ratios is not really SHM, at least not in these simple examples. As I've said a few times in this foru

[2017-01-19 03:58] saket411 commented on #110
Hi all,

In the previous image I have posted, comparison of inside and outside refinement... I am curious as to whether the triangular holes are actually 'holes' in the mesh and affect the results?

[2017-01-19 07:08] mimarilker commented on #110
Hi @saket411 @maxmarschall I have tried everthing as to cell size surface refinement smooth tolerance and somver iterations and at the end I couldnt capture geometry accurately and I think theres sth wrong with this. Btw for Outdoor sample case I captured the geo with giving zero value to smooth and tolerance, but the mesh was castellated so it didnt work with curved or angled edges. So now I will

[2017-01-19 07:32] mimarilker commented on #110
Hi @saket411 @maxmarschall I have tried everthing as to cell size surface refinement smooth tolerance and solver iterations and at the end I couldnt capture geometry accurately and I think theres sth wrong with this. Btw for Outdoor sample case I captured the geo with giving zero value to smooth and tolerance, but the mesh was castellated so it didnt work with curved or angled edges. So now I will

[2017-01-19 08:22] saket411 commented on #110
@**mimarilker** Thank you for your input.
Just few basic questions,
1. Where can I change the smooth and tolerance parameters? I tried to find before as well but could not find it.
2. How does changing decomposition method from scotch to simple affect?
For next stage I want to integrate the contours in the urban model, I need to figure out the best settings with trial and error to mesh the contour

[2017-01-19 08:23] mimarilker commented on #110
Open snappyhexmeshdict.py and edit it, if rhino is open, then restart rhino.

[2017-01-19 19:26] mimarilker commented on #110
@MaxMarschall @saket411 @mostaphaRoudsari

I have tried to implement explicit feature option to capture edges more accurately, it gave perfect results: see the attached images.

![explicit feature](https://cloud.githubusercontent.com/assets/22752273/22121784/f567d38e-de8d-11e6-8d7d-ce19534a8439.JPG)

[2017-01-19 21:27] MaxMarschall commented on #160
Hey @DambronOlivier ,

Sorry,  I had a deadline on another project and wasn't able to do CFD in a while. Unfortunately I can't find the definition anymore. Were you able to run your simulation?

[2017-01-19 21:35] MaxMarschall commented on #110
@mimarilker ,
You have quite a fine mesh there. Are you sure it still snaps nicely to the edges when you zoom in? When I was trying this, increasing the refinement generally made the edges finer but the mistake (if it IS a mistake) was still there at a smaller scale.

[2017-01-19 21:48] mimarilker commented on #110
Yep, I ve checked everything, there's nothing wrong. As I said try to use explicit feature snap option, BF currently uses implicit one.

[2017-01-20 02:53] TheodoreGalanos commented on #110
Hi everyone, sorry for not adding my thoughts earlier on this been quite busy with moving.

A few things that were mentioned:

1. Putting smoothing iterations to 0 will probably do exactly that, will not smooth. That means non-orthogonality will be small but your geometry will resemble the one of the castellated mesh. I've never tried it, since it is detrimental to mesh quality, but the result see

[2017-01-20 06:01] mimarilker commented on #110
Thanks for the reply, I have experienced everything before you mentioned :) Altough it takes too much time, experience is invaluable. Btw as you said with implicit method currently available in BF, I couldnt get edge refinement. It rounds the corner of the geometry. e.g. when I change nsmoothpatch from 3 to 5, rounding angle at the corners increases. So I said theres sth wrong with this. I have re

[2017-01-20 06:20] mimarilker commented on #110
I have seen such explanation on too many web sites.

- Geometries that can be perfectly discretized with blocks should not be snapped (deselect snap part in activation rows).
- Play on resolveFeatureAngle if you obtain high refinement zones in corner region.
- Snappy does not work very well on sharp edges

snap with low density mesh
![snap_fa95_](https://cloud.githubusercontent.com/assets/22752273

[2017-01-20 06:26] TheodoreGalanos commented on #110
Than you had actually explicit edge running, if you had an eMesh created. What you can do to actually compare them properly is to use the same angle you used for the surfaceFeatureExtract in the resolveFeatureAngle parameter in SHMDict.

It's nice actually, allows us to compare. According to the description in the OF manual itself, the implicit method is actually running a feature extraction on th

[2017-01-20 06:29] TheodoreGalanos commented on #110
Hi @mimarilker Yes I agree, I would use a simple blockMeshDict to actually mesh a simple room and the inlet/outlet if the damn thing isn't that hard to write. You can see some examples of custom blockMeshDicts for interior cases in OF tutorials. The scripts to generate one room is like 100 lines, that's crazy.

I think I recall @mostaphaRoudsari mentioned somewhere that it might be possible to aut

[2017-01-20 06:41] TheodoreGalanos opened #165 "Allow explicit feature edge detection method during meshing"
Hi I think it's time to add this one.

It's not hard to do, the steps required are:

1. Running a feature edge detection on the .stl file in question. The user should be able to select which file to run it on, thus I feel this options should be integrated into the BF_geometry component. The command to run (right before SHM) is simply `surfaceFeatureExtract`. The options are included in a surfaceFe

[2017-01-20 07:01] mimarilker commented on #110
You re exactly right. Btw it takes too much time to mesh with explicit snap, also the soluiton consumes too much and didnt converge easily like in implicit one. I have written details from slack.

Someone can see the difference in the mesh with different feature snap options.

Exp. feature snap
![exp](https://cloud.githubusercontent.com/assets/22752273/22139483/f22c0ddc-deee-11e6-9783-790c036a7c6e

[2017-01-22 00:59] mostaphaRoudsari commented on #110
@mimarilker is taking care of this: https://github.com/ladybug-analysis-tools/butterfly/pull/166

[2017-01-22 01:06] mostaphaRoudsari commented on #110
This is a long conversation and not the best place to answer questions but to answer the most important ones you can update any value in butterfly dictionaries through `self.values`. For instance if you want to set implicit feature snap to false and the other one to true you can use the lines below:
[code]
Also the missing faces is a limitation of Rhino in loading meshes with more than 4 vertices.

[2017-01-22 08:34] #164 closed

[2017-01-22 13:02] NallaV commented on #126
Thank you for your replies. I managed to run the case as an internal one. I set up every boundary in the beginning and then I override the conditions by adding a text describing the new boundaries into the "additionalParameters"at the "simulationParameters"component. It works just fine!

[2017-01-23 09:39] Zarisu commented on #76
Hey @mostaphaRoudsari, sorry to trouble you, but I can't get my script to run after the last update because of a runtime error caused by 'make2dParameters'. I simply dunno how to solve it or how to bypass it, hope you can help :)
![question_make2dparameters](https://cloud.githubusercontent.com/assets/23387793/22198391/a2a48b26-e156-11e6-8080-5769dcf6902f.PNG)

Best Regards
/Toke

[2017-01-23 13:43] mostaphaRoudsari commented on #76
Hi @Zarisu , This is a change in the API. If everything is updated on your machine correctly then restarting Rhino should solve the problem. The libraries need to be reloaded.

[2017-01-23 13:48] mostaphaRoudsari commented on #76
Also this is already implemented! The indoor analysis doesn't converge which @TheodoreGalanos is trying to figure out.

[2017-01-23 13:48] #76 closed

[2017-01-25 05:25] TheodoreGalanos commented on #161
Closing this one.

[2017-01-25 05:25] #161 closed

[2017-01-25 05:26] TheodoreGalanos commented on #163
I will close this one if there is nothing more. Please let us know of any experiences you might have with Butterfly in the future. Good luck with your research!

Regards,
Theodore.

[2017-01-25 05:26] #163 closed

[2017-01-25 05:31] TheodoreGalanos commented on #160
Closing this one for now.

Let me know if you have any more questions about this.

Regards,
Theodore.

[2017-01-25 05:31] #160 closed

[2017-01-25 05:33] TheodoreGalanos commented on #158
@mostaphaRoudsari Is this still an issue? Seems like you were spot on with the UNC path, could it be that this doesn't relate to BF? Or can we make it see if it's a shared folder smh?

[2017-01-25 05:35] TheodoreGalanos commented on #149
@mostaphaRoudsari Are we delaying this one after the BF release?

[2017-01-25 05:37] TheodoreGalanos commented on #142
@saket411 Did that fix things? Were you able to run BF after opening Rhino as admin?

[2017-01-25 05:41] TheodoreGalanos commented on #140
@mostaphaRoudsari Yes that would be useful, it is a quite common BC for indoor cases.

[2017-01-25 05:48] TheodoreGalanos commented on #129
I think I will close this. This was almost certainly a memory issue. @the-donn @saket411 please feel free to re-open if any new information comes around.

[2017-01-25 05:48] #129 closed

[2017-01-25 05:50] TheodoreGalanos commented on #127
@chriswmackey Did you have any positive results with running the running Rhino/bat files as administrator? It has helped in a few other cases it seems.

[2017-01-25 05:53] TheodoreGalanos commented on #76
@mostaphaRoudsari Indoor case is ok now. Solution is to refine the mesh only using blockMesh initial cells and not snappyhexmesh as it usually creates new cells and nasty things happen.

[2017-01-25 07:08] saket411 commented on #129
Adding few comments from my side.
I was trying to run a urban scale outdoor wind analysis. The buildings with the contours were not working, SHM would throw memory error sometimes or mesh an empty box in most cases. I separated the buildings on a flat plane and meshed - it worked. I separated the 'contour only' and meshed - it worked. But if I combined them, it would mesh an empty box. I believe t

[2017-01-25 07:12] saket411 commented on #142
Hi @**TheodoreGalanos**
No it did not work. Since I had to get things going I asked IT to give me full admin rights. Things were normal after that.
I still think for a non admin user, running rhino as admin with the settings mentioned [here](https://github.com/ladybug-analysis-tools/butterfly/issues/142#issuecomment-270950371) doesn't work. But then, someone else needs to try this and confirm.

[2017-01-25 21:00] mimarilker commented on #165
I have updeted snappyHexMeshDict and SnappyHexMesh (beforehand, it couldn't accept data from snappyHexMeshDict, due to missing definitions in the coding) components, now they are compatible with explicitFeatureSnap! But eMesh file should be created manually for now, however I am working on it, I hope at the end, all of the process will be automated. Now I am sending pull requests for them, they wo

[2017-01-26 09:36] MaxMarschall commented on #117
Dear @mostaphaRoudsari ,

Is there a solution to this? I ran a case for a couple of time steps the other day, and now I want to continue the simulation from the last time step without overwriting the case and going through the whole SHM process. Is this possible?

Cheers,
Max

[2017-01-26 12:00] saket411 commented on #116
Just to add my experience with the same issue. Usually I never run parallel simulations but this one time I was running a case (20M cells) after 6 hrs I accidentally started another case (the example model to test some thing) unaware of the one going in background and it killed the first one. I could not see the error report because my gh frezzed. I guess it was too heavy. Case folder was 27GB whe

[2017-01-26 18:52] DambronOlivier commented on #165
hi @thinklikeanarchitect,

I have been testing the new components you uploaded with the outdoor 2D.
Could you please let me know if the meshing is correct? One thing I came accross was to make sure to set the locationinMesh point out of any geometry.
![capturemesh](https://cloud.githubusercontent.com/assets/21184323/22345405/dddeba60-e3f7-11e6-9412-c8ce67e81c5f.PNG)

Here is the log in case you ne

[2017-01-27 06:34] thinklikeanarchitect commented on #165
Hi @DambronOlivier,

Please confirm the followings:

I. Have you created  the eMesh file manually in the directory of "triSurface" folder of your case?
II. Is the name of the eMesh file is correct? I am asking that bcs "building.eMesh" was an example string, if you try this components on the outdoor_airflow sample, it would be "outdoor_airflow.eMesh". I know its very basic but please check.

Moreo

[2017-01-27 07:04] thinklikeanarchitect commented on #165
Newer version of the "create case from wind tunnel" can be reached from the pull request that I sent before. The last one named "Add files via upload".

[2017-01-27 15:31] mhamadAlloush opened #169 "Adjusting simpleFoam and using with butterfly"
Hello,

I'm writing this issue to ask if it is possible to change the openFoam solver used by default in the butterfly plug-in (simpleFoam i.e.). I would, for example, do some changes to simpleFoam like adding a certain equation of interest or anything else, so am I able to implement this new solver?

Regards,
Mhamad

[2017-01-27 17:17] thinklikeanarchitect commented on #169
I think its possible, open controlDict.py file and just change the aplication setter's default value from "simple foam" to any other one you desire.

[2017-01-28 09:06] thinklikeanarchitect commented on #165
I have improved these components and will share the updated ones soon!

[2017-01-28 15:08] thinklikeanarchitect commented on #165
Now, explicit meshing works like a charm, without doing anything manually! I have been waiting for @mostaphaRoudsari to upload the components and python scripts.

[2017-01-28 20:06] thinklikeanarchitect commented on #165
Just a sample from new components...
![logo](https://cloud.githubusercontent.com/assets/22752273/22399483/0e3dd484-e5a6-11e6-8781-72bc4f6df79d.JPG)

[2017-01-29 01:43] TheodoreGalanos commented on #169
@mhamadAlloush

You can edit and re-compile openfoam solvers quite easily, in Linux. I have not tried to do it in a docker installation in WIndows. I would feel it's really hard and would only work if you compiled the whole package, along with your solver, from scratch.

Kind regards,
Theodore.

[2017-01-29 17:09] mostaphaRoudsari commented on #169
A clean way for implementing new solvers is to create a new recipe class. [Here is how the class for SteadyIncompressible](
https://github.com/ladybug-analysis-tools/butterfly/blob/master/butterfly/recipe.py#L324-L354) which uses `simpleFoam`. You can add your own similar to this class or the one for HeatTransfer.

[2017-01-29 17:09] #169 closed

[2017-01-29 17:11] mostaphaRoudsari commented on #158
@TheodoreGalanos I would still consider this as butterfly issue/limitation. At least we need to catch this exception and give a more helpful error message.

[2017-01-29 19:36] Zarisu commented on #126
Hey @NallaV. I'm having some problems with boundary conditions for my outdoor simulation and it sounds like you have found a way to make it work - are you willing to share your gh file? I would like to see how you solved this in practice.

[2017-01-30 00:30] mostaphaRoudsari commented on #126
@Zarisu try something like this:
![image](https://cloud.githubusercontent.com/assets/2915573/22409565/5b1900d6-e659-11e6-8748-fe8ec688c8af.png)

[2017-01-30 08:17] Zarisu commented on #126
Thanks for the reply @mostaphaRoudsari :) However, I don't think that I was specific enough with the intention of my question. I would like to set up boundary conditions for the 'ground' and 'building' surfaces in order to match a simulation done in Fluent.

This is what i tried to do (don't work):
![bc_wall_and_surface](https://cloud.githubusercontent.com/assets/23387793/22416128/af66d64a-e6cc-11

[2017-01-31 19:56] mostaphaRoudsari commented on #165
This is now implemented in butterfly via b3c34ada6c1549593b033c3d646479d00f53bfc2. The implementation is simple. If the user set a value for `_surfaceFeatureLevel_` in snappyHexMeshDict then the
component will generate the `surfaceFeatureExtractDict` and runs the command before running `snappyHexMeshDict`. Let us know if there was any issues.

![image](https://cloud.githubusercontent.com/assets/29

[2017-01-31 19:56] #165 closed

[2017-01-31 19:58] mostaphaRoudsari commented on #110
see https://github.com/ladybug-analysis-tools/butterfly/issues/165#issuecomment-276473821

[2017-01-31 19:58] #110 closed

[2017-02-01 01:42] saket411 commented on #129
Hello all,

I have been repeatedly getting memory error after running SHM. error log attached.

I know its a weird question but can someone help in figuring out how much memory I would need to run 20M/40M cells. With 24GB (out of 32) given to VM I was able to successfully run 10M cells.
Would be great for future reference as well if there can be an approx. memory to no. of cells relation.
[memory

[2017-02-01 18:52] MikkiSeidenschnur opened #172 "OpenFOAM running, but Butterfly can't connect"
Hello everybody,
first time I'm posting anything here on the forum, so be gentle with me

I realize that a lot of "installation issue"-problems have been flooding the forum, but I'll go ahead and explain my problem as well:

I have installed OpenFOAM v1606, and the OF_Start is working as it should:
![of_start](https://cloud.githubusercontent.com/assets/20814326/22520870/4321cc88-e8b6-11e6-9bcc-8f7

[2017-02-01 18:59] mostaphaRoudsari commented on #172
Hi @MikkiSeidenschnur, Welcome to the camp :). Let's see if we can get this fixed together. Two quick questions:
1. Are you running Rhino as an administrator?
2. Did you try to start the default machine once you see it has been aborted? If we can get the issue with the VM fixed then the ones in Grasshopper will be easy to fix.

[2017-02-01 19:09] MikkiSeidenschnur commented on #172
1. Yes, I read another comment here on the github page.
- Right-clicked the desktop icon
![rhino_administrator](https://cloud.githubusercontent.com/assets/20814326/22521772/67d25a68-e8b9-11e6-8c26-816f303d529c.PNG)

2. VM Box is running when I just double click it (If I don't run as administrator). When I do right-click it, it shows "Aborted". I just clicked right click on the machine and pressed:

[2017-02-02 08:07] saket411 commented on #172
Hi @**MikkiSeidenschnur**
I remember running into similar error on my laptop. Everything looked like it was running but BF was throwing a similar error. I got it resolved by following the last step (and its sub steps) in the FAQ [here](http://www.openfoam.com/download/install-binary-windows.php)
See if it works for you as well.

[2017-02-02 08:28] MikkiSeidenschnur commented on #172
Hi @saket411
I've followed the last step of this FAQ. I wrote the `docker images` and I could see that the OF layer was loaded into the environment.

I should probably try to run OpenFOAM without Butterfly to see if it still has issues. I'll try the other steps of the FAQ later today. I will probably also try to install OpenFOAM v4.0 later today with the use of ubuntu bash for windows 10.

By the

[2017-02-02 09:10] DambronOlivier commented on #172
Hi @MikkiSeidenschnur,
I have encountered the same issues as you. In order to solve this , I updated BF and closed gh and rhino.
Right clicked on the VM in oracle and removed. You don't have to necessarily delete all files , removing  should be good.

Relaunch docker in admin, reload the image. Relaunch create container in admin, relaunch start container in admin.
Go into oracle power off default

[2017-02-02 10:34] MikkiSeidenschnur commented on #172
Hi @DambronOlivier

So I tried to do as you said, but didn't get very far. I right clicked on the VM in Oracle, and removed it - I also deleted the files with it.

Then I relaunched Docker to try and load the image again. Which game me the following error:
![docker_error](https://cloud.githubusercontent.com/assets/20814326/22546021/7af83ffe-e93b-11e6-9dbb-1639629d4333.PNG)

So now I'm wondering wh

[2017-02-02 10:43] DambronOlivier commented on #172
@MikkiSeidenschnur,

Perhaps it would be the opportunity to install the latest version of Openfoam.

Keep us posted.
Olivier

[2017-02-02 11:01] MikkiSeidenschnur commented on #172
@DambronOlivier Just a question while I'm installing the new version. In the OpenFOAM [README](http://www.openfoam.com/download/txt/openfoam-windows-readme_v1612+.txt) it says that Powershell v2 or above is a prerequisite, and when I'm installing OpenFOAM, notice the top bar:
![powershell_install](https://cloud.githubusercontent.com/assets/20814326/22546897/4893c7fa-e93f-11e6-8888-aed960e7ba8a.PNG

[2017-02-02 12:43] MikkiSeidenschnur commented on #172
Scratch that last comment, not an issue ;).

I managed to get the test simulation running for the outdoor case. Turns out that, when I reinstalled the whole package, and ran the Create_env as admin and Create_OF as admin, it seems to be working.

Not entirely sure why this fixes the issue since I already have admin rights on this computer (It's my personal computer, and I have indeed checked wheth

[2017-02-02 15:08] DambronOlivier commented on #172
There are recent updates on the create case , blockmesh ,SHM and SHMdict , make sure to redrag and drop them on the examples definitions if they appear not yet updated .

[2017-02-03 00:23] mostaphaRoudsari commented on #172
Thank you everyone for your help. I'm closing this issue. I also added a label for OpenFOAM installation issues so one can filter them easily. These discussions are going to be very helpful!

[2017-02-03 00:23] #172 closed

[2017-02-05 19:44] mostaphaRoudsari commented on #131
This should be fixed with the next commit! If you set _interval_ to -1 then the solution won't be interactive and Galapagos workflow  should work with no problem.
![image](https://cloud.githubusercontent.com/assets/2915573/22629295/3d048ce8-ebb1-11e6-9920-5de9927ecb8b.png)

[2017-02-05 20:08] mostaphaRoudsari commented on #116
Turns out library cache is also shared between different instances of Rhino/Grasshopper. This makes tracking the PID of the commands in each component difficult. Once a new command is started it will overwrite the PID in runmanager which will change the value globally for all the instances regardless of being in two different instances of Rhino. I don't think this will be an issue with DynamoBIM.

[2017-02-05 21:13] #106 closed

[2017-02-05 21:13] #116 closed

[2017-02-05 21:13] #109 closed

[2017-02-05 21:13] #131 closed

[2017-02-06 01:24] mostaphaRoudsari commented on #154
![image](https://cloud.githubusercontent.com/assets/2915573/22631789/226f8ca4-ebe1-11e6-8a03-a78bad35e6cc.png)

[2017-02-06 01:30] mostaphaRoudsari commented on #154
Resolved via https://github.com/ladybug-analysis-tools/butterfly/commit/4b489efeae3feb85ad7be35d3369407067603836

[2017-02-06 01:32] mostaphaRoudsari commented on #146
Number 1 is also addressed. I will edit the title of this issue to represent the real problem. @DambronOlivier did you have any chance to create a case that converges using a custom boundary condition?

[2017-02-06 06:10] TheodoreGalanos opened #173 "Lower the default value of nFeatureSnapIter to reduce standard meshing time"
We can reduce this to 10 I think. While it won't affect that much on small models, like a room, it adds around 5-10 mins of meshing time to the standard sized outdoor examples (~8-10m cells).

[2017-02-06 10:41] MikkiSeidenschnur commented on #120
Hi @MaxMarschall & @TheodoreGalanos

I was just wondering whether you have any updates on this issue? I will be devoting my full time to validate the use of the heat transfer module for the next month or two, so just wanted to know if you have any updates of the matter?

Best regards
Mikki

[2017-02-06 12:40] MaxMarschall commented on #120
Unfortunately not, I tried out a whole lot of things but it always turned out the same...I'm moving countries atm and won't be able to continue with this for at least 1 or 2 months. Good luck and keep us updated!

Cheers,
Max

[2017-02-06 23:51] mostaphaRoudsari commented on #140
![image](https://cloud.githubusercontent.com/assets/2915573/22671633/4dfbbdc2-ec9d-11e6-8bd1-6c324dd142ee.png)

[2017-02-06 23:54] #140 closed

[2017-02-06 23:54] #173 closed

[2017-02-07 00:51] DambronOlivier opened #174 "Optimization post processing"
Hi @mostaphaRoudsari,

 I am running some tests after the recent commit [905764f](https://github.com/ladybug-analysis-tools/butterfly/commit/905764fba37151c7c516e3296a78ec0562052013) .

In order to benchmark the testing I am following a paper written by Peren et al. on the "Impact of eaves on cross-ventilation of a generic isolated leeward sawtooth roof building: windward eaves, leeward eaves and

[2017-02-07 00:56] mostaphaRoudsari commented on #127
@chriswmackey I'm closing this because of inactivity. Installing the new OpenFOAM for Windows and running as administrator should address this issue. Feel free to re-open this issue if it didn't solve the problem.

[2017-02-07 01:09] mostaphaRoudsari commented on #174
Hi @DambronOlivier! It is quite exciting to see your work. Well done. I can help with number 1 and will leave 2 to @TheodoreGalanos.

Back to 1 you should use your analysis mesh which is generated by genTestPoints component and not the OpenFOAM mesh itself. The way you're reading the values for velocities should just work fine.

BTW what is the error message from load case from folder? You should

[2017-02-07 01:35] DambronOlivier commented on #174
@mostaphaRoudsari ,

here is a screen with the error messsages.
The issue seems to be that the number of results do not match the mesh faces. I conclude that some probes were skipped? I am unsure of the reason and as I try to load them an error comes.
![capture5](https://cloud.githubusercontent.com/assets/21184323/22674056/c254fbba-ecd5-11e6-989b-b6606eb853f5.png)

[2017-02-07 02:05] mostaphaRoudsari commented on #174
@DambronOlivier can you share one of the folders with me?

[2017-02-07 02:10] TheodoreGalanos commented on #174
Hi @DambronOlivier I'll try and post some ideas of what could be wrong here but it is a bit hard without taking a look at the cases.

First of all the error is the typical 'divide by 0' error of openfoam, which happens for a variety of reasons. In your case does it happen **during** or at the **beginning** of the case?

Furthermore, I am guessing you are using SHM to mesh your 2D cases. I've found

[2017-02-07 02:37] TheodoreGalanos opened #175 "Update tooltip description on make2Dparams"
It seems the tooltip is at the moment identical to the meshing params component, we should update this to reflect the actual inputs.

[2017-02-07 02:43] DambronOlivier commented on #174
@mostaphaRoudsari  @TheodoreGalanos ,
I was unable to upload a zip file directly, please find the case folders through this wetransfer link.
https://we.tl/SoEqzhAVvn  I will figure it out and upload it here tomorrow.

I have put inside the gh definition which is hard to digest though there are titles for the different bits.
outdoor_airflow_2d_peren_Wn45_L0 is the failing case folder.
outdoor_airfl

[2017-02-07 03:12] mostaphaRoudsari commented on #101
Updated both text and images!

[2017-02-07 03:12] #101 closed

[2017-02-07 07:42] TheodoreGalanos commented on #174
Hello @DambronOlivier

I have tried to replicate and run one of your models. It was successful however that says little about the ones that gave you the error. Since it's hard to test one by one all the cases I tried to make a sort of best practice approach (even though it's probably not ideal, was done in a hurry). The basic things I added were:

- a much more refined blockMesh. This is especiall

[2017-02-07 12:15] MeloGG opened #176 "Issue with creating mesh, 'Could not find file...'"
Hi All,

I have just started using butterfly and struggling to go ahead with the example file "outdoor_airflow".
I tried to see if someone had the same problem but I could not find any post on it. Please direct me there if there is one.
I have a problem when running blockmesh and snappyhexmesh. I have attached a screenshot that hopefully can help in understanding the problem. It looks like butterf

[2017-02-07 13:21] MikkiSeidenschnur commented on #176
Hello @MeloGG
1. Are you running Rhinoceros as an admin?
2. Are you using windows 7 or 10? I don't think win 7 has especially good compatibility with Butterfly. based on #162.
3. If windows 10 - Did you follow the instructions on [https://github.com/ladybug-analysis-tools/butterfly/wiki/Windows-10-Installation-Notes](url)?
4. Did you check that the Rhino template is in meters? If it's not in meter

[2017-02-07 13:42] mostaphaRoudsari commented on #176
I second @MikkiSeidenschnur's comments. Is there a white space in the username? I assume that's why you had to change the path also for ladybug and honeybee.

[2017-02-07 15:05] mostaphaRoudsari commented on #174
@DambronOlivier just wanted let you know that I'm working on this. There are a couple of minor issues with the import components that I need to fix. Generally speaking it's always better to subtract the test geometry from the test surface to not end up with missing probes. I'll keep you posted.

[2017-02-07 17:55] mostaphaRoudsari commented on #117
@MaxMarschall sorry for the very late reply. In theory it should work as you're using it. Not sure what's wrong with this case. I'm making a couple of changes in the process of loading stl files which I hope fixes this issue too. I understand that you won't be able to test this for a couple of months but let me know once you get a chance to test it.

[2017-02-07 18:11] mostaphaRoudsari commented on #117
Fixed via https://github.com/ladybug-analysis-tools/butterfly/commit/0fb8ef770ebf8a08ad66b3c203640524b9fec74b
@MaxMarschall please re-open this issue if you find a case that fails.

[2017-02-07 18:11] #117 closed

[2017-02-07 18:22] #175 closed

[2017-02-07 19:42] mostaphaRoudsari commented on #174
@DambronOlivier @TheodoreGalanos you should be able to import the case with no issues with the new fix.

![image](https://cloud.githubusercontent.com/assets/2915573/22708148/4d318c68-ed43-11e6-9657-a5e6b36751a4.png)

Back to loading the probes I added a new component to load the probes from the same file that it loads the results. This will be a temporary solution until we implement #61.

Also I c

[2017-02-07 20:32] MaxMarschall commented on #117
Thanks @mostaphaRoudsari , will give it a go as soon as I can!

[2017-02-07 23:28] MeloGG commented on #176
Hi Mikki and Mostapha,

Thank you for your feedback. Answering to the questions:

1) Yes, I am running Rhino as admin.

2) I am using windows 7. I will check that post well and see if it can help. I have attached a screenshot of the Docker Quickstart terminal. It looks like something is missing?

3) See above, my understanding from what you are saying is that those notes for windows 10 may actuall

[2017-02-07 23:38] mostaphaRoudsari commented on #176
@MeloGG is the butterfly folder created under c:\users\Carmelo.eoc? I'm not sure if that `.` is what making the issue.
In case the folder is already created run the OpenFOAM_Start batch file as an administrator. and type comments below and see if every thing works fine

[code]

![image](https://cloud.githubusercontent.com/assets/2915573/22716571/929fc78a-ed64-11e6-8c0a-1df792e58d40.png)

[2017-02-07 23:44] mostaphaRoudsari commented on #61
I started testing this but couldn't fully get it to work. The first major change is that the command `sample` is no more working and now sampling is a postProcessing function.

Here is the sampleDict:
[code]
Then I run `postProcess -func sampleDict` and here the results. I assume I'm missing some sort of `writeToFile true;` statement.

[code]

[2017-02-07 23:47] mostaphaRoudsari commented on #61
A very similar `sampleDict` for outdoor studies gives the error below. I assume it needs some sort of include this and that.

[code]

[2017-02-07 23:52] mostaphaRoudsari commented on #61
also tried `simpleFoam -postProcess -func sampleDict`

[2017-02-08 00:04] mostaphaRoudsari commented on #61
This worked! I was missing a number of keys including `setFormat`.
[code]

[2017-02-08 05:21] thinklikeanarchitect commented on #61
sorry, does it mean that the probe values will be sampled and stored, so there will be no need to wait for OF to try to converge every time that test points changed?

[2017-02-08 05:39] TheodoreGalanos opened #177 "Suggestions for useful OpenFOAM function objects"
Hello,

There is a big number of function objects (FOs) avaialable. I will try to separate this in their respective categories. Not sure if I should open a new issue or just type here. I'll do it here for now and if needed I transfer everything in a new post.

First category is the fields category. These function objects capture, calculate, or access information about fields (e.g. U, p, k, e, etc.

[2017-02-08 05:39] #149 closed

[2017-02-08 05:40] TheodoreGalanos commented on #149
Function objects descriptions transfered to #177

[2017-02-08 08:05] MikkiSeidenschnur commented on #177
Hi @TheodoreGalanos

There are specifically two of the FO's that I find particularly interesting - that is the "fluxSummary" and the "wallHeatFlux1". As a HVAC designer those are the two best indicators for the designer that OF is actually calculating the same as the input that you have given to the program. I've actually listed this as one of the things I was missing with Butterfly to check my re

[2017-02-08 13:24] mostaphaRoudsari commented on #61
Yes. It means you can change the points and get the results for them without running the analysis again. It will only work if you already have some results saved in the folder.

[2017-02-08 13:25] mostaphaRoudsari commented on #138
@thinklikeanarchitect have you seen this?
http://www.openfoam.com/version-v3.0+/post-processing.php

[2017-02-08 14:31] thinklikeanarchitect commented on #138
just now:)

But I dont have an idea to integrate them to BF...

[2017-02-08 18:21] MeloGG commented on #176
Hi Mostapha,

Thanks for your help. I may have understood what is happening here. I followed the steps you said. Weirdly, on the machine there are two user folders for the same user. One called Carmelo and one Carmelo.eoc. It seems that OpenFoam is using as WorkingDir the folder called Carmelo while butterfly is creating the butterfly folder in Carmelo.eoc. I tried to copy the folder in the Workin

[2017-02-08 23:09] TheodoreGalanos commented on #174
Any progress on  this one @DambronOlivier ?

Curious to see if a different meshing strategy, and @mostaphaRoudsari commit, fix this issue.

Regards,
Theodore.

[2017-02-08 23:12] TheodoreGalanos commented on #146
I feel this is a meshing issue. I've run heat transfer cases with our standard settings with no problems. Hard to tell without running the actual case, will do so soon I hope.

[2017-02-08 23:16] TheodoreGalanos commented on #177
Hi @MikkiSeidenschnur

It shouldn't be difficult to add wallHeatFlux, it is simply that code really. fluxSummary is a bit more difficult since it requires the user to set a cellZone but it isn't impossible to set up. I will try to get it going when I'm back on my work computer on Friday.

As for the heat transfer recipe, I was running some tests on our case with standard settings. We did find some

[2017-02-08 23:55] DambronOlivier commented on #174
@TheodoreGalanos ,
First of all many thanks for sharing the case folder with the blockmesh well set and also for all the information you shared. I really feel the pedagogic aspect of Butterfly. It really breaks down the complex CFD journey from entry to deeper.

I have not managed to sort out my schedule this week to properly follow up as I would like to, after solliciting you and Mostapha  on thi

[2017-02-09 00:50] DambronOlivier commented on #146
@mostaphaRoudsari

I have tried to input the custom BC for T but I do get an error.
![capture1](https://cloud.githubusercontent.com/assets/21184323/22764193/053ee1de-ee61-11e6-94c8-3f978250b7ab.png)
![capture](https://cloud.githubusercontent.com/assets/21184323/22764194/05464dfc-ee61-11e6-9702-b6f81a47447b.PNG)

[2017-02-09 00:52] mostaphaRoudsari commented on #177
I did an initial implementation that let you add function objects to the case. We can use the same class to create new component for specific functions later.

![image](https://cloud.githubusercontent.com/assets/2915573/22763884/5520b316-ee35-11e6-9cc4-2f1d44decc6f.png)

[2017-02-09 01:05] mostaphaRoudsari commented on #146
@DambronOlivier can you try to use space instead of tab? For some reason the space between uniform and the values is removed. If you share your input text in panel I can also debug this on my side.

[2017-02-09 01:11] DambronOlivier commented on #146
@mostaphaRoudsari
I have typed the text as it shows with spaces and no tabs.

[2017-02-09 01:19] mostaphaRoudsari commented on #176
Hi Carmelo,
At least now we know what the issue is. Butterfly and OpenFOAM are not looking to the same folder. There is a solution to solve this by using `docker inspect` command instead of our current approach. We can also give the option to user to overwrite the username. Each has their own limitations.

Back to your questions:
1. Yes. You can use the latest version of OpenFOAM and it should wor

[2017-02-09 02:33] mostaphaRoudsari commented on #174
OpenFOAM still filters a number of points out as skipped points. The new workflow ensures that you get the points and values in the same order from the same file.

The import error should be solved once you update butterfly and re-start Rhino.

If you don't mind and once we have the meshing setting updated as @TheodoreGalanos suggested maybe we should add this file as one of the example files. Muc

[2017-02-09 08:54] MikkiSeidenschnur opened #178 ""SolutionParams" error"
"1. Solution exception:" and then nothing else. If I open the Python component, and run "Test", I get:
"Runtime error (StopIterationException):
Traceback:
line 49, in _convertToDict, "C:\Users\Miksei\AppData\Roaming\McNeel\Rhinoceros\5.0\scripts\butterfly\parser.py"
line 375, in fromCppDictionary, "C:\Users\Miksei\AppData\Roaming\McNeel\Rhinoceros\5.0\scripts\butterfly\solution.py"
line 43, in scr

[2017-02-09 09:26] MikkiSeidenschnur commented on #178
Also, the "SolutionParams" component is showing an error:
"1. Solution exception:" and then nothing else. If I open the Python component, and run "Test", I get:
"Runtime error (StopIterationException):
Traceback:
  line 49, in _convertToDict, "C:\Users\Miksei\AppData\Roaming\McNeel\Rhinoceros\5.0\scripts\butterfly\parser.py"
  line 375, in fromCppDictionary, "C:\Users\Miksei\AppData\Roaming\McNeel

[2017-02-09 12:23] MeloGG commented on #176
Hi Mostapha,

It looks like modifying the user folder is not an easy thing as I would have to delete it and create it from scratch which I am not very keen to do.
Could you please explain more how to use the other two options? Do you think the problem is definitely caused by the `.` in the user folder? If there would be a way of changing the folder used by butterfly similarly to what is done in la

[2017-02-09 12:29] MikkiSeidenschnur commented on #176
@MeloGG As far as I know you should only download the "Installer.exe" which is a package that installs everything that you need to run it on windows. At least I got it working by only downloading the executable and running it.

/Mikki

[2017-02-09 12:49] DambronOlivier commented on #176
@MeloGG,

All is successful when installing Openfoam1606. And then upgrading to v1612 worked for me.
However cleaning everything and installing v1612 directly caused many issues on two computer that I tested.

If you anyone could confirm this perhaps we could edit the wiki. @mostaphaRoudsari, would you have an idea on this issue?

[2017-02-09 12:52] MikkiSeidenschnur commented on #176
@DambronOliver

I actually first had a working version of 1606, uninstalled it, and then installed the 1612. It's working ok for me now, except from this one issue with SolutionParams #178

[2017-02-09 13:00] DambronOlivier commented on #176
@MikkiSeidenschnur

The issues I encountered were after uninstalling docker toolbox, oracle VM , openfoam 1606. Reinstalling directly 1612 caused many docker issues.

[2017-02-09 13:19] MikkiSeidenschnur opened #179 "Import of meshes from other applications"
Hello developers

First of all, let me excuse myself for my sudden rise in activity on this Github. I hope that you do not think I'm trying to flood your forum. ;).

However, I was looking through the documentation of OpenFOAM and noticed a function to import meshes from other [applications](http://cfd.direct/openfoam/user-guide/standard-utilities/#x14-1080003.6.3). I do know this is another versi

[2017-02-09 13:24] MikkiSeidenschnur commented on #176
@DambronOlivier

Yes, I'm sorry if you misunderstood me, but that was also what I did - I uninstalled everything, incl. Docker, VM, and OF. And then I installed everything again with v1612 and Docker etc.

[2017-02-09 14:35] mostaphaRoudsari commented on #178
@MikkiSeidenschnur what is your input that you're trying to create a solution parameter from?

[2017-02-09 14:38] MikkiSeidenschnur commented on #178
@mostaphaRoudsari
The input to the solution parameter is the same as the one in the example file - I have not changed it at all. Here is a screenshot
![ms_solutionparambug_v1](https://cloud.githubusercontent.com/assets/20814326/22787803/d454b62a-eedd-11e6-97c9-f2f0c4c19ad9.PNG)

[2017-02-09 15:05] mostaphaRoudsari commented on #176
1. I just fixed the installation instructions. You only need to download the installer. The other two are source code.
2. I have never had any of these issues. I installed OpenFOAM 3 times on two different laptops and just by following the directions everything has worked fine for me so I don't really have that much input on installation issues.
3. Butterfly uses `os.path.expanduser('~')` to find

[2017-02-09 15:26] #178 closed

[2017-02-09 15:27] mostaphaRoudsari commented on #178
That was a mistake on my side by changes that I made to Function class. It's fixed now. Thanks for reporting.

[2017-02-09 15:30] mostaphaRoudsari commented on #179
This goes under the category of #150 that there should be an easy way for users to add the commands that they need from inside Grasshopper/butterfly and fortunately there is one. @MikkiSeidenschnur which other app are you trying to use for your project? Have you tried to test it through the command line and make sure that the workflow works as expected?

[2017-02-09 15:38] mostaphaRoudsari commented on #118
@TheodoreGalanos, @MaxMarschall I added this one to the release milestone. I can see that Layers will be essential for many of the architectural airflow studies, and the implementation doesn't seem to be very difficult. We already have a similar workflow for surface refinement.

[2017-02-09 16:10] mostaphaRoudsari commented on #118
Maybe we should add cases like this as examples just for meshing: (https://sites.google.com/site/snappywiki/snappyhexmesh/cylinder-case). Very helpful examples to learn how `snappyHexMesh` works.

[2017-02-09 17:12] mostaphaRoudsari opened #180 "Add additional parameters to SnappyHexMeshDict"
This will be critical for following any meshing tutorials.

[2017-02-09 17:13] mostaphaRoudsari opened #181 "SnappyHexMesh : : False booleans are converted to true when updating the file."
It's fine in the snappyHexMeshDict component itself!

[2017-02-09 21:49] #180 closed

[2017-02-09 21:49] #181 closed

[2017-02-09 21:52] mostaphaRoudsari commented on #110
Check this tutorial: https://sites.google.com/site/snappywiki/snappyhexmesh/cube-case

### Conclusion
- Geometries that can be perfectly discretized with blocks should not be snapped (deselect `snap` part in activation rows).
- Play on `resolveFeatureAngle` if you obtain high refinement zones in corner region.
- **Snappy does not work very well on sharp edges**

[2017-02-09 22:04] mostaphaRoudsari opened #182 "Replace expand method with a better solution"
This issue came up once #145 that because of the difference between the mesh and brep vertices in Grasshopper/Rhino `blockMeshDict` would end up slightly smaller than the geometry itself and `snappyHexMesh` snaps to the boundary surface instead of the geometry. To solve the issue I [added an expansion](https://github.com/ladybug-analysis-tools/butterfly/commit/02ceb2950f92b959fdc7151d1bf6f3395e5c2

[2017-02-09 22:20] MeloGG commented on #176
Hi Mostapha,

I managed to run the analysis and it looks like is working fine. Thanks a lot for your help; is there any other application/occasion in which I may need to change the working folder?
Hopefully I will not have this issue anymore.

Regards

[2017-02-09 22:35] mostaphaRoudsari commented on #176
Hi @MeloGG, Great! We can close this for now.
You only need to do this once you create the case and before running any of the OpenFOAM commands. It means you should insert this component after `Create Case from Geometry` and `Create Case from Tunnel` components.

[2017-02-09 22:35] #176 closed

[2017-02-10 02:30] chriswmackey commented on #127
@mostaphaRoudsari ,
I understand that I was late in testing this. I'll try testing it again now.  By new OpenFOAM for Windows, do you mean, OpenFOAM v1612+?
If so, the installation notes should be updated here:
https://github.com/ladybug-analysis-tools/butterfly/wiki/Getting-Started-with-butterfly#1-installing-openfoam

[2017-02-10 03:17] mostaphaRoudsari commented on #127
@chriswmackey thank you for pointing out the issue. I just updated the version numbers.

[2017-02-10 03:49] chriswmackey commented on #127
Ok.  I installed the new OpenFOAM and I have the exact same issue as before (the message is identical to that at the top of this post).  Running as Admin did not fix the issue.  Is it safe to repoen the issue?  Or is there a related discussion that has worked through this privileged flag yet?

[2017-02-10 15:48] mostaphaRoudsari commented on #61
![image](https://cloud.githubusercontent.com/assets/2915573/22833063/7ca331d0-ef7e-11e6-96e3-42602738f177.png)

[2017-02-10 15:56] #61 closed

[2017-02-10 15:58] mostaphaRoudsari commented on #174
This new component `Sample Case` should make it easier to post-process the results. You can sample using any points.
![image](https://cloud.githubusercontent.com/assets/2915573/22833063/7ca331d0-ef7e-11e6-96e3-42602738f177.png)

[2017-02-10 18:43] mostaphaRoudsari commented on #127
@chriswmackey `--privileged` is one of the keyword options for docker. It's strange that docker gives you this error as it should be raised when a non-valid option is used. Can you try to run `docker exec --help` from command line. Do you see the full help document similar to the this image. Docker installation folder should be at `c:\Program Files\Docker Toolbox`

![image](https://cloud.githubuse

[2017-02-11 02:36] chriswmackey commented on #127
@mostaphaRoudsari ,
Thanks for helping me get through this.  I get the full help document when I run` docker exec --help` from the command line:
![image](https://cloud.githubusercontent.com/assets/5567574/22850537/f3aaea3e-efd8-11e6-9a42-4a1f980f75b4.png)

[2017-02-11 02:39] chriswmackey commented on #127
Also, if this is of any help, I get this message when I launched the OF Env Create:
![image](https://cloud.githubusercontent.com/assets/5567574/22850558/692d82c6-efd9-11e6-935f-b994e08b5575.png)

[2017-02-11 04:16] chriswmackey commented on #127
@mostaphaRoudsari ,
Thank you very much for taking the time to solve this with me earlier.

To everyone watching this thread, this issue was caused by the fact that I still had an old version of boot2Docker installed on my machine (the old program that was used to run OpenFOAM for Windows a couple of versions back.  Once I uninstalled that from the control panel, everything ran smoothly:

Thanks a

[2017-02-11 04:16] #127 closed

[2017-02-11 05:29] mostaphaRoudsari commented on #118
Done! Will push it to GitHub tomorrow after running more tests and updating the example files.

![image](https://cloud.githubusercontent.com/assets/2915573/22851491/215f469c-eff1-11e6-989c-cfb22137c96f.png)

[2017-02-11 20:28] mostaphaRoudsari commented on #182
The solution was to write a method to expand the blockMeshDict by once cell from each side and add to the number of divisions by 2. This method ensures that snappyHexMesh will catch the edge surfaces and at the same time the division size stays the same. I also added a new component and a method that let's the user overwrite the vertices if desired.

[2017-02-11 20:28] #182 closed

[2017-02-12 04:44] mostaphaRoudsari opened #183 "Fix residualControl and relaxationFactors components"
They both are subclass of dict and Grasshopper outputs can't handle dictionaries.

[2017-02-12 06:35] TheodoreGalanos commented on #118
Hi Mostapha!

That looks nice! Are we setting the layer properties in another component? I think we need to provide 3 user inputs, namely:

- expansion ratio
- finalLayerThickness
- minThickness

If memory serves me right the finalLayerThickness overwrites the expansion ratio, since it assigns a (min,max) for (first,last) layers instead of an expansion which assings (min,ratio).

Also we should se

[2017-02-12 13:05] mostaphaRoudsari commented on #118
Hi @TheodoreGalanos,

You can set them up in `snappyHexMeshDict` component. Are you suggesting to expose them as inputs for the component?
![image](https://cloud.githubusercontent.com/assets/2915573/22862281/b4be3cfa-f0f9-11e6-8b4d-9808fe5eb5cc.png)

The warning for input/output is tricky since except the user is using butterfly BCs how can we know if it's an input or output. We can still add the

[2017-02-12 17:51] #183 closed

[2017-02-12 18:10] DambronOlivier commented on #146
Hi @mostaphaRoudsari ,

My previous message was a bit misleading. I meant that the error occurred, though I had written the BC manually as a panel.

{
type fixedGradient;
gradient uniform 310;
}

[2017-02-12 18:26] DambronOlivier commented on #174
@mostaphaRoudsari
If you wish, please do use it in the example files. :) glad to contribute as I can.

Would there be a way to reverse the genTestpoints component and obtain the mesh from the probes?

[2017-02-12 18:40] mostaphaRoudsari commented on #174
@DambronOlivier thanks!

I believe you can use `Mesh Spray` component in Grasshopper. You have the base mesh, and then use the points and colors to color the mesh based on the values. We can also write a script to remove faces with results and color the rest.
![image](https://cloud.githubusercontent.com/assets/2915573/22864971/dd2cc8ee-f128-11e6-8223-01b6462e77c7.png)

Also should we close this is

[2017-02-12 18:42] mostaphaRoudsari commented on #146
Hi @DambronOlivier, I forgot to check this one. Will check and report back.

[2017-02-12 18:45] mostaphaRoudsari commented on #118
Added!
![image](https://cloud.githubusercontent.com/assets/2915573/22865018/8a12d5ee-f129-11e6-9324-188a4ab63222.png)

[2017-02-12 19:01] DambronOlivier commented on #174
@mostaphaRoudsari
Many thanks for the tip. We can close the topic indeed.

I will run other cases of optimisation as I understand them. I will try to do form-finding with constraints applied over the perpendicularity of the normals of the geometry to the airflow vectors.
I was also looking forward to run a case of optimization to size the outlet according to the volumetric flowrate by assessing th

[2017-02-12 19:04] mostaphaRoudsari commented on #154
https://github.com/ladybug-analysis-tools/butterfly/issues/146#issuecomment-279236485

[2017-02-12 19:07] #174 closed

[2017-02-12 19:15] #154 closed

[2017-02-12 19:16] mostaphaRoudsari commented on #146
@DambronOlivier it's fixed now! Thanks for reporting the bug.

This issue is the last open issue to be fixed and then we have the GH plugin ready for the release!

[2017-02-12 19:46] mostaphaRoudsari opened #184 "Modify runmanager to work on Rhino/Grasshopper for Mac"
I don't have access to mac but this is something to be done. Overall it should be very easy to add the support running the cases on mac/linux using the current code.

[2017-02-12 19:49] DambronOlivier commented on #146
@mostaphaRoudsari
I will run the case shortly and let you know.

[2017-02-12 20:25] DambronOlivier commented on #146
@mostaphaRoudsari
I have tried to run the case though I remain with an issue. I suppose the BCs I have set are wrong.

I am still unable to upload a zip file, please find the case and the gh file in this link if you wish to have a look.
https://we.tl/z8TG8Yr61Y

I will try with a wall boundary condition for the heat source.

[2017-02-12 21:25] DambronOlivier commented on #146
@mostaphaRoudsari
I have run the case with a Wall Boundary Condition for the heatbox.
The solution does not tend to convergence after 3000 Times.

![capture](https://cloud.githubusercontent.com/assets/21184323/22866156/577fca98-f169-11e6-8e64-e411c3dfe0ff.PNG)

The initial intention of this case was to simulate stratification of heat with a simple box representing a human body. @TheodoreGalanos  h

[2017-02-12 21:39] mostaphaRoudsari commented on #146
Thanks @DambronOlivier. This error is different from the previous one and not a butterfly issue. I leave this issue to @TheodoreGalanos to comment.

[2017-02-13 01:46] TheodoreGalanos commented on #118
Hi @mostaphaRoudsari

Sorry for the late reply, crazy weekend! Yes this is great! What about adding layers in patches? Can we put a warning there for users when they add layers to a patch or when they assing an inlet/outlet patch to a geometry with layers?

SHM won't fail, but I'm certain it is bad practice to do so.

Kind regards,
Theodore.

[2017-02-13 01:59] mostaphaRoudsari opened #185 "Add warning if user addLayers to an inlet/outlet patch"
See this: https://github.com/ladybug-analysis-tools/butterfly/issues/118#issuecomment-279275661

[2017-02-13 02:00] mostaphaRoudsari commented on #118
Hi @TheodoreGalanos! I opened an issue so we can discuss the details: https://github.com/ladybug-analysis-tools/butterfly/issues/185

[2017-02-13 02:39] TheodoreGalanos commented on #185
Yes this looks good. Main idea is layers are for walls (in the OF sense)

[2017-02-13 03:15] TheodoreGalanos commented on #146
Hi @DambronOlivier

On the first issue, OF is quite specific as to what is going on. OF was assuming that your box is an inlet due to the specified BC atm. Changing the BC on all 0 files for the box to be identical to the wall (it is a wall itself after all) was the right choice! Good job!

Concerning the second case, your residuals appear to have converged. Generally, it is much more important an

[2017-02-13 13:57] frank984 opened #186 "Error when I try to run the blockmesh component"
With this new update I have this problem when I try to run the blockmesh component:

![immagine](https://cloud.githubusercontent.com/assets/6491927/22886038/512a1ec6-f1fc-11e6-9663-5091df7237c8.png)

The pop up shows this errors:

1. Solution exception:Error checking TLS connection: Host is not running

	 Docker machine is not running! Run Oracle VM VirtualBox Manager as administrator and make sur

[2017-02-13 14:07] mostaphaRoudsari commented on #186
Hi @frank984, did you also run Rhino as an administrator? and ran OpenFOAM_start.bat as an admin with no issues?

[2017-02-13 14:29] frank984 commented on #186
Hi @mostaphaRoudsari ! Rhino runs in administrator mode. At first time I had some issue to run OF_start.bat as an admin, then I turned off the default machine and VBmachine, then I reopened it as an admin and then I reopened the OF_start.bat as an admin without problem. Now I can run the blockmesh component without problems. Tnx!

[2017-02-13 14:34] mostaphaRoudsari opened #187 "Add new example files"
- [x] A simple HVAC example
- [x] Buoyancy example

[2017-02-13 14:43] mostaphaRoudsari commented on #186
Great! 👍

[2017-02-13 14:43] #186 closed

[2017-02-14 04:39] TheodoreGalanos commented on #118
We are missing a keyword in the meshqualitycontrols for this. The changes are simple and as follow:

1. add `meshQualityControls::relaxed.` right before the `nRelaxedIter` keyword

2. add  the following at the end of the meshQualityControls block.

[code]

Furthermore, I think we need to expose the nLayerIter. In specific cases it can reaaaally take a long time and our 50 iterations might not be p

[2017-02-14 05:26] TheodoreGalanos opened #188 "Indoor Cases : changes in 0 dictionaries required"
@mostaphaRoudsari
We need to adjust a few values in the dictonaries, as of now the HVAC type of cases will not run. The changes are the following:

1. change all outlet BCs for k, epsilon, and U to:

[code]

2. change the Outlet BC for p_rgh to:

[code]

I am checking convergence now and will update this accordingly if necessary.

Kind regards,
Theodore.

[2017-02-14 05:34] TheodoreGalanos commented on #188
Seems to be working. Not a very interesting case since my 'design' is crude but it looks good.

![temperature](https://cloud.githubusercontent.com/assets/13436572/22916586/4baabd20-f2ba-11e6-9309-7c0dc13b49a9.png)
Temperature Plot

![velocity glyphs](https://cloud.githubusercontent.com/assets/13436572/22916589/4f3b4eaa-f2ba-11e6-9761-ec875c279cdb.png)
Wind Velocity and Glyph Plots

[2017-02-14 10:06] TheodoreGalanos commented on #187
[HVAC_1.zip](https://github.com/ladybug-analysis-tools/butterfly/files/773702/HVAC_1.zip)

Sharing here in case others want to test.

[2017-02-14 14:00] mostaphaRoudsari opened #189 "loadMesh should visualize the edges and not the mesh"
since both GH and DS have limitations on the number of edges for mesh fa es loading the mesh itself can misinform the user about the generated mesh. In Dynamo the case will be extreme as it only support tri mesh faces.

![image](https://cloud.githubusercontent.com/assets/2915573/22931779/f280b612-f293-11e6-85b1-591664187e4f.png)

[2017-02-14 23:08] mostaphaRoudsari commented on #64
Now this is for real!
![image](https://cloud.githubusercontent.com/assets/2915573/22953764/8eed1dfa-f2e0-11e6-8dba-256c3aa9b0bf.png)

[2017-02-15 00:06] mostaphaRoudsari commented on #118
@TheodoreGalanos Thanks.

I implemented number 2 and the suggestion for `nLayerIter`. Back to item 1 I checked the documentation and there is no keyword for `meshQualityControls::relaxed`. That is basically the relaxed dictionary under meshQualityControls which you have mentioned in number 2.

[2017-02-15 01:47] TheodoreGalanos commented on #118
@mostaphaRoudsari

Yes I am not sure if that is needed tbh. For sure I think we need the relaxed keyword in number 2 but the first one just seems to be an (obsolete) pointer.

Should work as it is, I can also try later.

[2017-02-15 06:18] thinklikeanarchitect commented on #64
excellent!

[2017-02-15 13:50] mostaphaRoudsari commented on #118
Thanks. Number 2 is already addressed via https://github.com/ladybug-analysis-tools/butterfly/commit/20c71c4991d981f6371d43d2335741f7ca57f331

[2017-02-15 13:50] #118 closed

[2017-02-15 15:32] #188 closed

[2017-02-15 15:34] mostaphaRoudsari commented on #188
@TheodoreGalanos I applied the changes. I think you made a minor mistake in your notes here. Based on the files k, epsilon should be set to 0.1 and not (0 0 0). Otherwise I followed your direction and the changes are already pushed to github.

[2017-02-15 15:47] mostaphaRoudsari commented on #187
@TheodoreGalanos thanks! I checked the file and it looks good. Do you want me to set it up in butterfly or you already have it set up?

[2017-02-15 16:23] #185 closed

[2017-02-15 16:23] mostaphaRoudsari commented on #185
Ideally it should make the component orange but for now it prints it out.

![image](https://cloud.githubusercontent.com/assets/2915573/22983694/e309ee96-f370-11e6-9119-4fd6a5799e84.png)

[2017-02-15 17:49] #189 closed

[2017-02-15 20:38] TheodoreGalanos commented on #188
@mostaphaRoudsari Yes that is correct, my bad. Thanks!

[2017-02-15 20:38] TheodoreGalanos commented on #187
@mostaphaRoudsari I think I meshed it in BF so I can put it up here when I am at the office.

Regards,
Theodore.

[2017-02-15 20:38] TheodoreGalanos commented on #187
@mostaphaRoudsari I meshed it in BF so I can put it up here when I am at the office.

Regards,
Theodore.

[2017-02-17 03:01] mostaphaRoudsari commented on #64
need to re-write `solution`, `residuals` and `decomposePar`. All of them are using GH specific functionalities.

[2017-02-17 15:02] catie-h opened #190 "Installation problem"
Getting this error even I follow the installation steps and update Butterfly with install.gh.
Can someone please help
![butterfly problem](https://cloud.githubusercontent.com/assets/24957418/23070183/2efc0960-f565-11e6-8e98-617caf303805.jpg)

[2017-02-17 15:53] DambronOlivier commented on #190
Hi @cathydoa

after updating, did you quit Grasshopper ,Rhino and relaunched?

[2017-02-18 00:26] cathydoa commented on #190
Yes though. I have reinstalled all user objects components into the user objects folder and rerun the installer file in gH.

[2017-02-18 00:40] mostaphaRoudsari commented on #190
@cathydoa this component is very old. You need to either manually replace the component or download the updated example file. The component is last updated on `FEB_14_2017`.
https://github.com/ladybug-analysis-tools/butterfly/blob/master/plugin/grasshopper/src/Butterfly_Create%20Case%20from%20Tunnel.py#L79

[2017-02-18 01:50] cathydoa commented on #190
Do you mind showing how can I manually reinstall the updated py files to make everything works?

[2017-02-18 06:54] catie-h commented on #190
Sorry sir, it is not working still. Even though I have replace the py and get the new battery.
![problem2](https://cloud.githubusercontent.com/assets/24957418/23091131/12d73c2a-f5ea-11e6-9d3c-d97740a7165f.jpg)

[2017-02-18 21:55] mostaphaRoudsari commented on #190
@catie-h, Can you upload the output of the butterfly component? Let's make sure it loads the library from the right place.

![image](https://cloud.githubusercontent.com/assets/2915573/23097135/958c4010-f5fa-11e6-9519-5dd4a27e3f9e.png)

If you don't see a similar output to this image then you probably haven't restarted Rhino or updating the libraries has failed.

[2017-02-19 00:51] catie-h commented on #190
![installer pic](https://cloud.githubusercontent.com/assets/24957418/23098106/8a0698cc-f680-11e6-9772-f32495c7e4ad.jpg)
I got the same thing though.

[2017-02-19 00:56] mostaphaRoudsari commented on #190
Great! Can you try to open [this file](https://github.com/ladybug-analysis-tools/butterfly/blob/master/plugin/grasshopper/samplefiles/outdoor_airflow.gh?raw=true)?

[2017-02-19 00:58] catie-h commented on #190
hold on, trying to restart my rhino as administrator

[2017-02-19 01:01] catie-h commented on #190
![outflow](https://cloud.githubusercontent.com/assets/24957418/23098145/f8ee3a28-f681-11e6-8db9-e516bffedfbf.jpg)
Weird, the old battery works.

[2017-02-19 01:07] mostaphaRoudsari commented on #190
Great! Should we close this issue then? The restart was the key to reload the libraries in Rhino.

[2017-02-19 01:08] catie-h commented on #190
Ok. Thanks

[2017-02-19 01:12] #190 closed

[2017-02-19 01:40] catie-h opened #191 "locationInMesh is calculated wrong if units is not meters"
Sorry, new to the tool. Wondering what cause the following problem.
Everything runs correctly but this one indicate point is not inside the mesh.
![error_snappyhexmesh](https://cloud.githubusercontent.com/assets/24957418/23098405/5faa0e72-f687-11e6-9dbd-3270a3aa0d71.jpg)

[2017-02-19 02:02] mostaphaRoudsari commented on #191
Use a point inside the volume that you're trying to mesh to set `locationInMesh`.

[2017-02-19 02:13] catie-h commented on #191
The points are created from 'Create Case From Tunnel', how can I make the points go instide a mesh?

[2017-02-19 03:28] omdmr commented on #191
@catie-h Set a new point to _locationInMesh_ input. (located center of the volume that you are trying to mesh).

[2017-02-19 03:57] catie-h commented on #191
I have used this point for locationInMesh_ , the center point of my bounding box.
Still error, thanks.
![meh center](https://cloud.githubusercontent.com/assets/24957418/23099123/681868fc-f69a-11e6-9d97-451bb6263892.jpg)
![location in mesh](https://cloud.githubusercontent.com/assets/24957418/23099129/a35b24a4-f69a-11e6-8fca-991ac382ea61.jpg)

[2017-02-19 09:53] DambronOlivier commented on #191
Have you checked if your rhini units are in meters?

[2017-02-19 12:09] catie-h commented on #191
Sounds like the issue then. It works when I change to meter.
One more thing, can i know how can i bake the colour vector at the end?

[2017-02-19 12:31] DambronOlivier commented on #191
You can't bake vectors directly from gh to rhino. A work around is to rebuild arrows with lines on grasshopper with the direction of the vectors starting at the probe's point.

[2017-02-19 12:36] catie-h commented on #191
Cool. Thanks a lot.

[2017-02-19 18:15] DambronOlivier opened #192 "Cylindrical Wind Tunnel for multiple Pedestrian Wind Comfort analysis."
Hi @chriswmackey , I have been testing the Pedestrian Wind Comfort component of Ladybug based on the Lawson Comfort Criteria. It's a great one for the englishmen.

1. With the intention to compute a series of 18 simulations (1 every 20degress), would there be a way to benefit from a cylindrical wind tunnel in order to avoid the meshing at every iteration?
@TheodoreGalanos  I believe you had mentio

[2017-02-19 18:31] frank984 opened #193 "A case study with indoor and outdoor air flows. Issue with the outdoor flow"
Dear @mostaphaRoudsari, @TheodoreGalanos and all,

please consider the following case study:

an office with indoor/outdoor air flow of 2.0 m/s (circular surface as reported in the model).

To consider the outdoor air flow I have modified the outlet boundary component (see attached file).

I have also reduced the end time of the Butterfly_ControlDict from the starting value (5000) of the indoor ai

[2017-02-20 02:38] TheodoreGalanos commented on #192
Hi @DambronOlivier That is a good question. I am aware of people meshing these cases with cylindrical meshes but I have not tried it myself yet. I would guess the best way to do it is as an internal case where the cylinder is the 'room' in a sense. Making this work actually makes the post processing much much faster (pre-processing should take the same time since BF has made it easy already), so i

[2017-02-21 04:15] TheodoreGalanos commented on #193
Hi @frank984

My initial suggestion would be that if you wish to evaluate natural ventilation performance in a room like this, you should simply model it as an outdoor case.

Just put the room in a wind tunnel with the expected inlet velocity at the reference height for your region (see your EPW for that information) or simply change the boundary condition to a fixedValue in your wind tunnel, and

[2017-02-21 09:23] amirtabadkani opened #194 "OpenFOAM Installation Problem for Running Simulation Via BF"
Hi @mostaphaRoudsari @TheodoreGalanos ,

I have stuck in the OF installation process while I reinstalled it around 10 times and reading all the possible issues here or on the grasshopper3d website ,, but still I can not run the simulation with the latest version of butterfly V3..

I noticed whenever I run Of-Start whether as administrator or not, it gives an error that the default machine has stop

[2017-02-21 16:20] mostaphaRoudsari commented on #194
I hope @thinklikeanarchitect can help you with this. He knows much more about the installation issues.

[2017-02-21 17:50] thinklikeanarchitect commented on #194
Have you followed the instructions that I wrote for installation on Windows 10 ?

https://github.com/ladybug-analysis-tools/butterfly/wiki/Windows-10-Installation-Notes

[2017-02-21 18:51] DambronOlivier commented on #194
Whenever you re install everything, make sure to uninstall all applications before, boot2docker as well.

[2017-02-21 20:17] mostaphaRoudsari opened #195 "Create example files for Dynamo"
I will do it manually this time but it's quite possible to automate parsing Grasshopper example and create a similar Dynamo definition. Butterfly nodes are quite the same and we can map Grasshopper native components.

[2017-02-21 20:20] mostaphaRoudsari opened #196 "Move butterfly-dynamo and butterfly-grasshopper under a different repository"
Just similar to honeybee, honeybee-plus repositories. only the core library should live in this repository.

[2017-02-22 02:55] #191 closed

[2017-02-22 06:42] amirtabadkani commented on #194
Hi @thinklikeanarchitect ,

Thanks for your reply.. Yes I have done all the steps but still no changes .. and I get this error in Grasshopper Canvas and while I try to run virtualbox I get the other error .. I ve seen these errors in other issues that others have posted but I couldnt solve mine ,..

Thanks ..

![canvas at 10 10 31](https://cloud.githubusercontent.com/assets/17779829/23200049/5d113

[2017-02-22 06:43] amirtabadkani commented on #194
Hi @DambronOlivier
Yes I have uninstalled all the parts related to OF each time I reinstall it ..

[2017-02-22 07:19] TheodoreGalanos opened #197 "Make2D parameters - normal direction width"
It seems like the Make2D parameter is tripling the total length of the normal direction. This can cause issues and even make the meshing fail. My hunch is that this happens because we are expanding the bounding box somehow like we do for indoor cases. For the 2D case this is not necessary I think, at least not in the normal direction.

Kind regards,
Theodore.

[2017-02-22 08:38] TheodoreGalanos opened #198 "Make2D - meshing and solution properties"
We need to update a couple of things in make2d in order to avoid divergence and OF crashes.

1. Change the` least squares 1` fvSchemes value to `Gauss linear 0.5`

2. assign a default false to snap process. Users can update this if they have complex geometry they are meshing. If not, the castellated mesh output is better since it won't introduce extra cells in the normal direction (which gives err

[2017-02-22 14:20] mostaphaRoudsari commented on #198
@TheodoreGalanos thanks.

1. This will be a challenge as fvSchemes are not assigned until later when one put a solution together but we can still have a check for a 2D case and implement this if the user doesn't overwrite the values.

2. I'm actually thinking to set snap to False by default for all the cases. If one wants they can set it to True. I think it will also help to users to learn how sna

[2017-02-22 14:54] MikkiSeidenschnur commented on #194
I see that your username has whitespaces (win 8.1). That might be an issue: #176 we've encountered before

Best regards
Mikki

[2017-02-22 16:08] amirtabadkani commented on #194
Thanks @MikkiSeidenschnur ,, Do you know an easy way to change the user name in C drive ? I searched for it ,, it seems difficult..

[2017-02-22 16:44] mostaphaRoudsari commented on #64
Boom!
![image](https://cloud.githubusercontent.com/assets/2915573/23221854/24f575ea-f8f4-11e6-8ec3-6d71f94e6ae9.png)

[2017-02-22 16:45] mostaphaRoudsari commented on #194
@amirtabadkani what about creating a new user?

[2017-02-22 16:58] mostaphaRoudsari opened #199 "Probes should be scaled for non-metric units"
OF runs everything in SI and points should be scaled before dump and on load.

[2017-02-22 17:12] MikkiSeidenschnur commented on #194
I found this [thread](https://www.groovypost.com/howto/rename-local-windows-10-user-account/) online that described how to change it. However, I had to reinstall the system anyway, so I just created the user upon the windows 10 reinstall

[2017-02-22 22:44] #199 closed

[2017-02-22 22:46] mostaphaRoudsari commented on #64
addressed via https://github.com/ladybug-analysis-tools/butterfly/commit/c3123c4add2e444aa0e93f8c8ffdb990cd563da0

@bitacovir if you're still interested in a connection with sverchok please open a new issue.

[2017-02-22 22:46] #64 closed

[2017-02-23 04:56] mostaphaRoudsari commented on #195
outdoor example is ready and indoor example is running now...
![image](https://cloud.githubusercontent.com/assets/2915573/23245442/7da84e72-f95a-11e6-8926-eb306e344d43.png)

[2017-02-23 09:16] TheodoreGalanos commented on #198
Hi @mostaphaRoudsari

Yes you are right, it a bit too much to overwrite user inputs. I think it's fine to not do it. But I also feel it is a bit too much to not snap by default, especially given the fact that new users will tend to create a  rough blockMesh which defined castellatedMesh quality. This will results in some really bad meshes being created from BF and might cause users to look at it s

[2017-02-23 09:20] TheodoreGalanos commented on #197
Yes dividing after the fact works I think. At first, in my example, I thought of dividing my input but that would create weird numbers like 0.999 which I'm ocd about :)

[2017-02-23 09:28] TheodoreGalanos commented on #195
Nice! Looks great @mostaphaRoudsari !

[2017-02-23 09:48] TheodoreGalanos commented on #179
Hi @MikkiSeidenschnur

You can already import Fluent meshes in openfoam with (usually) no problem. It's not set up as a component in BF yet, we can look to incorporate it in the future if needed, but you can easily run it yourself by going into the folder where the fluent mesh is located and typing:

`fluent3DMeshToFoam xxxxxxx.msh`

That will create a constant/polyMesh folder for you.

For other

[2017-02-23 10:52] MikkiSeidenschnur commented on #179
Hi @mostaphaRoudsari and @TheodoreGalanos

Sorry for my lack of response, but thank you for the responses. I will try it out myself next week when I have some time to do it @mostaphaRoudsari.

@TheodoreGalanos I just sneaked a peak at this cfMesh that you're talking about - I must say that it looks utterly promising. I hope that it will be followed through with for the next version of Butterfly. A

[2017-02-23 13:22] amirtabadkani commented on #194
@MikkiSeidenschnur The whitespace was the problem .. I really appreciate your help ; however it seems a bit weired , only this small gap makes a huge issue in installation ..

I again thanks all who particpicated in this issue and I will close it ..

[2017-02-23 13:22] #194 closed

[2017-02-23 20:01] TheodoreGalanos commented on #194
@amirtabadkani Glad you resolved the issue! OpenFOAM is terribly allergic to empty spaces, in the future make sure that your folders also do not include an empty space. After a while, it's almost a routine to name them so don't worry :)

Regards,
Theodore.

[2017-02-23 21:15] mostaphaRoudsari commented on #198
Why didn't I think about this before! This is a great idea and will make the process of snappyHexMesh pretty clear. I can test this and see how does it work but I assume you can always start from `castellated mesh` and only snap the mesh. In other words, it won't duplicate running the `castellatedMesh`. Is that right? Should we do it before the public release? I wish we would have thought of this

[2017-02-23 21:18] mostaphaRoudsari commented on #194
We should add this somewhere to the installation instructions!

[2017-02-24 02:29] TheodoreGalanos commented on #198
Hi @mostaphaRoudsari

That is the idea yes. SnappyHexMesh will recognise the time folder 1 (i.e. castellatedMesh) in the directories and will start from time 1. You can easily test this with BF right now actually by just setting snap to false and then re-running with true. It might be easier to do though through the terminal directly.
That is you can change snap to true in shmdict and re-run snapp

[2017-02-25 17:20] #195 closed

[2017-02-26 00:28] #197 closed

[2017-02-26 00:30] mostaphaRoudsari commented on #196
This will be the last step. I'll do the adjustments once @TheodoreGalanos addresses #187.

[2017-02-26 17:55] mdengusiak commented on #187
Hi, Once I will install everything (looks like complex process) I will try to test it as well. It this working version of sample file?

[2017-02-26 19:59] mdengusiak opened #200 "mesh tool kit required by Dynamo"
I think you could add this to installation guide,

[2017-02-26 20:11] mdengusiak opened #201 "running example files - outdoor_study.dyn"
outdoor_study.dyn
I just installed everything and trying to run samples outdoor_study.dyn,
I can see that even when I am running example with everything set to no there are warnings,
same when I change to True.

WindVector
![image](https://cloud.githubusercontent.com/assets/14005893/23343152/bf473bac-fc5e-11e6-916e-190ed2eca5d1.png)

[2017-02-26 20:23] mdengusiak opened #202 "running example files - indoor_study.dyn"
Here I got a warning at step blockMesh,
not sure how to copy a warning text here?
just paste an image to start a conversation

![image](https://cloud.githubusercontent.com/assets/14005893/23343288/9d4145fa-fc60-11e6-8930-e63a94533e0c.png)

[2017-02-26 20:52] mostaphaRoudsari commented on #201
Hi @mdengusiak! Thank you for testing and reporting this. Can you insert a new 'Wind Vector' node from butterfly tab and try again? Not sure what's going on inside Dynamo.

[2017-02-26 21:04] mostaphaRoudsari commented on #202
@mdengusiak can you:
1. send the full error message
2. check OpenFOAM installation? Can you confirm that everything looks as expected when you run the batch file and open the *Oracle VM VirtualBox*?

[2017-02-26 21:15] mostaphaRoudsari commented on #201
I just checked and it works totally fine on my machine:
![image](https://cloud.githubusercontent.com/assets/2915573/23343770/a26cf352-fc3e-11e6-8ce3-cd205c3e58d5.png)

[2017-02-26 21:23] mdengusiak commented on #201
I added new and same issue,

![image](https://cloud.githubusercontent.com/assets/14005893/23343845/baae75fa-fc69-11e6-99e9-08b64cbbcf7a.png)

[2017-02-26 21:34] mostaphaRoudsari commented on #200
Added! https://github.com/ladybug-analysis-tools/butterfly/wiki/Getting-started-with-butterfly-in-dynamo#22-installing-meshtoolkit

[2017-02-26 21:34] #200 closed

[2017-02-26 21:42] mostaphaRoudsari commented on #201
The issue was that Dynamo didn't import `Autodesk` namespace by default. `Vector` needs to be changed to `Autodesk.Vector`

[2017-02-26 23:12] mdengusiak commented on #201
Another issue is with Point.
We need to add Autodesk.Point

![image](https://cloud.githubusercontent.com/assets/14005893/23344646/0cad0bf6-fc78-11e6-979a-243b80a42292.png)

// Cell size in (x, y, z) as a tuple (default: length / 5).
// This value updates number of divisions in blockMeshDict.
_cellSizeXYZ_: Point = null;

also at Mesh step there is some issue with OpenFoan Container
![image](https:

[2017-02-26 23:27] mdengusiak commented on #202
OK there was issue with Hyper VM and I updated installation procedure..so this is fine now,
I am now stopped at this step 4 Load mesh,
I do not have any file in my constant/polymesh folder,

![image](https://cloud.githubusercontent.com/assets/14005893/23344817/fa1be234-fc7a-11e6-9ce8-d58cc4866c9a.png)

[2017-02-26 23:49] TheodoreGalanos commented on #202
@mdengusiak I can debug on the OF side, if this is OF related. It might be worth to check for any errors in the snappyHexMesh component.A couple of reasons I can think is that either meshing failed or the reconstructParMesh and copying that BF does automatically didn't happen.

Can you check the case folder, are there /0.org and /1.org folders in there?

[2017-02-27 00:48] mostaphaRoudsari commented on #202
@mdengusiak this is great news that you got the installation fixed! 🎉 🎉 🎉!
The rest should be easy to figure out. Can you check the full report and see what's the full error report? It says failed to find points file at: ... What is the address? and is the file exist in that address? I wonder if you have a similar issue to https://github.com/ladybug-analysis-tools/butterfly/issues/176#issuecomment

[2017-02-27 03:54] #201 closed

[2017-02-27 03:55] mostaphaRoudsari commented on #201
@mdengusiak fixed the issue with namespace. Download the new version from package manager and give it a try. We will solve the other issue under #202

[2017-02-27 07:38] frank984 commented on #193
Hi @TheodoreGalanos,

first of all thank you for your reply.

If I put the room in a wind tunnel with the expected inlet velocity at the reference height, I can model only the case with an inlet fan and the open door.

But if I want to consider the case with a closed door and two flows (inlet and outlet) on the same wall with the same air velocity and opposite direction, I can't model it as an out

[2017-02-27 23:53] mdengusiak commented on #202
Hi...great test tonight....so finally outdoor is working :)
An issue was related to admin and user account as a different name..once this is fixed and uninstalled and installed again this worked well.

outstanding stuff from example are:

1. test user name behaviour
2. add "Autodesk." to Geo in code
3. Legend parameter does not colour correctly

![image](https://cloud.githubusercontent.com/assets/

[2017-02-28 01:55] DambronOlivier commented on #146
Hi @TheodoreGalanos,

I have been testing another similar case and trying to see how would the buoyancy drives the airflow in the intermediate level. Here are the simple wall BCs I used:
![capture3](https://cloud.githubusercontent.com/assets/21184323/23387823/cf33da9a-fd56-11e6-96a7-f24d7276a10c.PNG)

The solution seem to converge looking at the residuals, though I am not sure if to an acceptable

[2017-02-28 03:27] #202 closed

[2017-02-28 03:29] mostaphaRoudsari commented on #202
@mdengusiak I fixed number 2. Number 3 is an issue with Dynamo and/or Ladybug.
For number 1 open a new issue if you could recreate it. I assume this was also the issue with multiple usernames which should be fixed now.

[2017-02-28 13:02] MikkiSeidenschnur commented on #193
Maybe I can help here:

@frank984 what is your experience with CFD in general (beginner, advanced, etc)? And can you try to rephrase the question. Try to tell us: What do you want to accomplish with this simulation, then it will be easier to understand your question.

Best regards
Mikki

[2017-02-28 13:05] MikkiSeidenschnur commented on #187
@mostaphaRoudsari @TheodoreGalanos is anyone working on the Buoyancy example file?

[2017-02-28 13:14] MikkiSeidenschnur commented on #50
Hi @mostaphaRoudsari

I just stumbled upon this issue, and had been wondering myself, whether heatflux could be implemented in the future. I think it would provide a unique opportunity to use Ladybug/Honeybee results for specifying the heat flux emitted, by a heated window for instance.

It would really offer something that a lot of other CFD programs are missing - A parametric way to update the b

[2017-02-28 13:25] mostaphaRoudsari commented on #50
Hi @MikkiSeidenschnur, I had to freeze the development for the first public release. We can start implementing this once the first release is out. This integration needs a little bit more work and we need to make sure we can model Heat Transfer correctly. We still don't have a solid working example: https://github.com/ladybug-analysis-tools/butterfly/milestone/3

[2017-02-28 13:47] MikkiSeidenschnur commented on #50
@mostaphaRoudsari Ok, seems fair.

Just in any case you want an example of a heatflux boundary, the path in the OpenFOAM tutorials is:
`$FOAM_TUTORIALS/heatTransfer/buoyantSimpleFoam/circuitBoardCooling`

Best regards
Mikki

[2017-02-28 13:51] mostaphaRoudsari commented on #50
@MikkiSeidenschnur thanks! I will check out the example. Did you get a chance to check the current sample file? Do you have any suggestions?

[2017-02-28 13:55] MikkiSeidenschnur commented on #50
@mostaphaRoudsari Just to be sure, you're talking about the "Indoor Analysis" with "SteadyIncompressible" right? :)

[2017-02-28 14:02] mostaphaRoudsari commented on #50
no. I'm talking about this one with heat transfer: https://github.com/ladybug-analysis-tools/butterfly/blob/master/plugin/grasshopper/samplefiles/indoor_airflow_temperature.gh

[2017-02-28 14:03] MikkiSeidenschnur commented on #50
@mostaphaRoudsari I have not seen this file yet, but I will take a look. I will be back asap.

[2017-02-28 14:24] MikkiSeidenschnur commented on #50
@mostaphaRoudsari Ok, so first thing that springs to mind:

The temperature differences are very large. Therefore, a Boussinesq approximation would not be appropriate. In fact, this problem would have to be modelled with a transient approach. I think this is supported by monitoring the residuals: They never go below 0.3, which normally would suggest convergence issues.

[Source to boussinesq aprox

[2017-02-28 14:29] MikkiSeidenschnur commented on #50
Also, with regards to CFD in the indoor environment, Peter V. Nielsen is quite the pioneer. I would recommend checking out the REHVA guidebook nr. 10: "Computational Fluid Dynamics in Ventilation Design". It is very specific, and thorough with regards to CFD in the indoor environment.

Best regards
Mikki

[2017-02-28 14:59] MikkiSeidenschnur commented on #193
Thank you for elaborating the issue further @frank984

1. Try writing the case file to a new name. I've encountered this error before, it seems to happen after I close and reopen the GH files.
2. I'm not seeing that the outlet flow is nearly zero. What you would need to clarify this is a classic "FluxReport". This would tell you the mass of air coming in/out of your BC's. But right now, all we're

[2017-02-28 15:17] frank984 commented on #193
I'm sorry, you're right, I used an inappropriate term. I re-formulate the question: it is correct that, on the right side of the section 1-1' (outlet flow), the speed is so low?

`Can I get you to attach the sample files`

I Have attached the file in the previous post in a zip folder.

[2017-02-28 15:20] TheodoreGalanos commented on #187
@MikkiSeidenschnur I'm working on it, trying to have it out these coming days.

@mdengusiak The simple HVAC example is a working version indeed.

[2017-02-28 16:04] TheodoreGalanos commented on #193
Hi @frank984 I am going through your file now. It's a bit late here to test thoroughly but I'll share my thoughts below.

Firstly it seems there is some design issues with the surfaces. From what I can see the outlet surface is being used in 2 boundary conditions (one called window and another window holes) at the same time. Additionally, it seems that you haven't split your geometry. While this w

[2017-02-28 21:53] frank984 commented on #193
@MikkiSeidenschnur

I have tried and it doesn't work

@TheodoreGalanos

I have the updated BF components (v.0.0.03).

If I try to change the p file in the 0 folder from zeroGradient to type fixedValue; value uniform 0;
![cattura3](https://cloud.githubusercontent.com/assets/6491927/23435484/e81bc9bc-fe07-11e6-96c4-09ae0b419d5f.JPG)
it doesn't work because the Butterfly solution component rewrites e

[2017-02-28 22:50] wangrf123 commented on #142
HI @mostaphaRoudsari, so if I am not able to run Rhino as administrator, should I install Docker? Sorry I did not quite get the link you sent. Thanks!

[2017-02-28 23:09] TheodoreGalanos commented on #193
Hi @frank984 I think we can look into this and make sure BF isn't assigning these BCs for pressure. Have you maybe added any custom BCs to the file?

There are two more things you can try. The first one is to 'force' the fixedValue boundary condition on the outlet either using the BF custom boundary component or the premade BCs. The second is to edit the p file as you did and then run the case fro

[2017-03-01 08:23] frank984 commented on #193
Thanks @TheodoreGalanos for the suggestions.

I have found the error:

As reported in [the previous post](https://github.com/ladybug-analysis-tools/butterfly/issues/193#issuecomment-283057105)

I have written a stupid error in the last line of this custom component. Now I have changed "bc.FixedIntletBoundaryCondition (U= _velocityVec, T = temperature_)" in "bc.FixedOutletBoundaryCondition (U= _vel

[2017-03-07 11:06] TheodoreGalanos commented on #187
Finalized the buoyancy example!

The set up doesn't fit my quality requirements and didn't have the time to test its convergence, but it's 95% there I believe. It was working for around 100 iterations before I stopped.

[170307_BF_Atrium.zip](https://github.com/ladybug-tools/butterfly/files/824177/170307_BF_Atrium.zip)

[2017-03-07 13:19] MikkiSeidenschnur commented on #187
Great @TheodoreGalanos
I've reserved tomorrow in the name of testing this example. I'll return with some comments and feedback if wished for.

Best,
Mikki

[2017-03-07 13:50] TheodoreGalanos commented on #187
@MikkiSeidenschnur Your input is always welcome! I'll try to add the different BCs tomorrow in the file.

[2017-03-07 15:27] mostaphaRoudsari commented on #187
Great! I'm eagerly waiting for the result of this. Once it's ready we can package everything and finally go public.

[2017-03-08 16:19] MikkiSeidenschnur commented on #187
I really like the approach of this example file. I think it really displays how the users could utilize HB to apply temperature BCs. If it applies it automatically this would be a great example.

The only problem is that I'm having a hard time validating the heat balance of this case analytically due to its complexity. I think the velocity profiles from the results function they way it should (or

[2017-03-11 02:00] chriswmackey opened #203 "The Variable "internalField" in the "T" File Must Exposed on Heat Transfer Recipe"
@mostaphaRoudsari and @TheodoreGalanos ,

I think that I cam close to running my first successful real-world application of Butterfly.  As @TheodoreGalanos mentioned to me this morning, my test example with a heat transfer simulation is not converging because the default `internalField` variable in the `T` file (300 K) was far from the temperatures of the room I was trying to simulate (284-296 K).

[2017-03-11 02:28] chriswmackey commented on #50
@mostaphaRoudsari and @mcneillj ,

I'm sorry that I somehow missed this discussion in the flurry of issues and discussions on this repo.  I put together a really quick example of this for @TheodoreGalanos the other day:
![eptobutterfly](https://cloud.githubusercontent.com/assets/5567574/23819692/b27b837e-05d7-11e7-9a45-fa748ec6f126.png)

Essentially, the colorHBsurfaces component is already set up

[2017-03-11 02:32] TheodoreGalanos commented on #203
@chriswmackey This sounds good!

[2017-03-11 02:56] TheodoreGalanos commented on #50
@chriswmackey Thanks for sharing this! I was late to add it here.

It will sure help automating the transition from LB/HB to BF, which is a key for BF going forward I think.

[2017-03-11 03:13] chriswmackey commented on #50
Thank YOU for pointing me towards the internalField variable, @TheodoreGalanos !  This is literally solving all of my problems.

I also realized that I forgot to answer some of @mostaphaRoudsari 's unknown questions at the top of the post:
1. I hope that I have answered the question about the general strategy for adding an a HVAC system above (at least for air-based systems). Does OpenFOAM automat

[2017-03-11 04:15] chriswmackey opened #204 "DecomposePar Fails for Heat Transfer Recipe"
I have not been able to get the DecomposeParDict component to work correctly with the Heat Transfer recipe.  I keep receiving the following error:
![image](https://cloud.githubusercontent.com/assets/5567574/23820474/17699212-05e7-11e7-8dda-0bf1e5649ebe.png)

Part of the issue seems to be the that the DecomposeParDict component does not seem to be writing the information correctly into the file:
![

[2017-03-11 12:38] mostaphaRoudsari commented on #203
@chriswmackey thanks for posting this. Good suggestions. I would say if we want to introduce the average option should we also multiply the values by area? I need to add area to butterfly geometry class and the rest is easy to implement.

[2017-03-11 12:43] mostaphaRoudsari commented on #204
@chriswmackey can you try scotch method instead of simple and see if that works correctly. I will take care of the bug in `decomposeParDict`.

[2017-03-11 14:57] #203 closed

[2017-03-11 14:58] mostaphaRoudsari commented on #203
Added!

![image](https://cloud.githubusercontent.com/assets/2915573/23823898/12e7e664-063a-11e7-9441-e712fe097c29.png)

[2017-03-11 16:24] chriswmackey commented on #204
Ok.  I'll have a go at the scotch method now.

[2017-03-11 16:36] TheodoreGalanos commented on #204
I think this might be not having scotch. When you change the number of processors in other methods you usually need to change the coefficients for xyz as well. It can lead to errors.

[2017-03-11 16:48] mostaphaRoudsari commented on #204
That is now fixed via https://github.com/ladybug-tools/butterfly/commit/547bda8026273a3c36629bf072c3088b73c4faae

[2017-03-11 16:49] TheodoreGalanos commented on #204
Excellent!

[2017-03-11 16:51] chriswmackey commented on #203
Thank you for putting this in so quickly, @mostaphaRoudsari !
The component is working as expected on my end.  The only note that I'll add is that, from the input description, I thought that I was supposed to input a value in Kelvin but it seems that you are converting from Celsius for us.  If you could put the sample values in the description in Celcius, I think that will help clear up confusion.

[2017-03-11 16:56] TheodoreGalanos commented on #203
Hello, thanks for adding this @mostaphaRoudsari ! And I'm sorry it slipped through, I actually thought of this 1-2 days ago.

Just my take on the temperature. If I understand correctly you are proposing a weighted average temperature as the automatic setting. I think that is not necessary and sometimes might be misleading. In terms of statistics, I think we could assign by default the median value

[2017-03-11 17:00] chriswmackey commented on #204
Scotch solved the issue, @mostaphaRoudsari .  Thank you!
![image](https://cloud.githubusercontent.com/assets/5567574/23825154/5d0bb21c-0652-11e7-83a1-d82b5f921bc0.png)

[2017-03-11 17:02] mdengusiak commented on #203
Hello, @mostaphaRoudsari
Do you implement all functionality parallel in dynamo and GH?

[2017-03-11 17:06] chriswmackey commented on #204
Let me know if you want me to test the simple decomposePar now that you've made some fixes.

[2017-03-11 17:14] chriswmackey commented on #203
@TheodoreGalanos ,
I agree with your expert opinion about the default value.  As long as the internalFiled temperature is not completely above or completely below all of the the other boundary condition temperatures, it should be fine.  That seems to be corroborated by the simulations that I have run so far.

@mdengusiak ,
Parallel processing has been implemented in the GH version for sure (use "B

[2017-03-11 17:43] chriswmackey commented on #204
@mostaphaRoudsari ,
I can confirm that the issue with the simple decomposePar is still as it was before.  Here is an example file that can recreate the issue with simple DecomposePar much more quickly than the one at the top of this post:
https://www.dropbox.com/s/r10l3gvowhb9rtt/indoor_airflow_temperature3_simpleDecompBug.gh?dl=0

[2017-03-11 17:59] mostaphaRoudsari commented on #204
unless @TheodoreGalanos has a quick fix for this I leave the issue as it is. We have an alternative solution that people can use for now.

[2017-03-11 18:03] mdengusiak commented on #187
@TheodoreGalanos
Hi I run your atrium example and is not working for me,
I updated file to e+
I noticed case is not actually created not sure why,
I run other examples on Dynamo and GH and works fine,
![image](https://cloud.githubusercontent.com/assets/14005893/23825576/4ff67828-0684-11e7-99f8-b5776c181f6b.png)

[170307_BF_AtriumA.zip](https://github.com/ladybug-tools/butterfly/files/836009/170307

[2017-03-11 18:30] TheodoreGalanos commented on #204
Both simple and hierarchical methods require coefficients to work correctly.

The coefficients (C) are nothing else than the number of splits per dimension (x y z). The only real requirement is that Cx * Cy * Cz = numberOfSubdomains.

However, doing that randomly might lead to inefficient solutions. A potential solution to this could be to add another input in the simple/hierarchical decomposePar

[2017-03-11 18:53] TheodoreGalanos commented on #187
@mdengusiak

The only thing I can think of is somehow one of the BF geometries coming in is null or invalid. Not even sure if that would actually cause a null in the create case though. Also that would have been probably reported by others.

I'll try the example tomorrow and report back, as it is getting a bit late and I'm currently on Linux running things.

Kind regards,
Theodore.

[2017-03-11 18:54] mostaphaRoudsari commented on #204
@TheodoreGalanos, we already have the coeff values there. It's about refPoint

[code]

[2017-03-11 19:02] TheodoreGalanos commented on #204
@mostaphaRoudsari Oh sorry I can't reproduce right now not in Windows.

Do we have pRefCell 0; in our fvSolution btw? Not sure that would help tbh, this seems different.

[2017-03-11 19:10] mostaphaRoudsari commented on #204
We have pRefPoint which seems to be the issue in the parallel run. It says found on 2 domains (should be one)! which I'm not sure what exactly means. Here is the case folder for the future reference.
[simpleDecompBug.zip](https://github.com/ladybug-tools/butterfly/files/836043/simpleDecompBug.zip)

[2017-03-12 11:35] mdengusiak opened #205 "Dynamo HBZones extra input needed"
@mostaphaRoudsari  I am experiencing problem with getting required,
Would be possible to get to your HBZones apart from polylines and zones also Elements ID, I think same to Zones would be good to get Room/Space object
Different nodes show this in a different way, so I guess we could replicate yours and display with duplicate element ID so per polygon is displayed.

Also, can you add Doors to be r

[2017-03-12 15:49] mostaphaRoudsari commented on #205
@mdengusiak, The elements are there and can be easily exposed. You already have the room element Id which is the zone ID. Is this what you need?

[2017-03-12 15:58] mdengusiak commented on #205
Yes, Please expose them both as elements so I can get parameter value by name and import all design value for boundary etc this I got working, just can not find same order to polylines

[2017-03-12 23:27] TheodoreGalanos commented on #177
Hi @mostaphaRoudsari

I realized that for some, maybe even all, function objects it is much simpler than that. OF seems to have the code saved in files in the installation and we can just call it in the controlDict. For example, if we want the solver to save the min and max values of our fields we simply add:

`#includeFunc        minMaxMagnitude;`

in the functions block of our controlDict.

Shou

[2017-03-13 00:31] TheodoreGalanos opened #206 "Saving space from writeInterval"
CFD is an unstable business and a correctly chosen writeInterval is most of the time a crucial parameter to set. Set it too high and you risk loosing big parts of the study without knowing what happened, set it low and you risk overflowing your hard disk and slowing down the simulation.

However, at the end of the day, for steady-state simulations we only need the latest folder. The use of the pre

[2017-03-13 01:32] mostaphaRoudsari commented on #206
@TheodoreGalanos 👍
We can add this to `controlDict` class and the `controlDict` component.

[2017-03-13 01:41] mostaphaRoudsari opened #207 "wrap up the first release"
I set the date for the development for Spring Equinox 2017 in Northern Hemisphere which will be on Monday March 20.

Here is the list of items left:
- [x] close [the last couple of issues](https://github.com/ladybug-tools/butterfly/milestone/3) and add example files prepared by @TheodoreGalanos to GitHub.
- [x] update versions for all the components to 0.4
- [x] update gitbook
- [x] update butterf

[2017-03-13 02:17] TheodoreGalanos commented on #206
We seem to have it on controlDict.py with a default of 0 atm, which means 'don't do it'

[2017-03-13 02:34] mostaphaRoudsari commented on #207
- [ ] create an installer for food4Rhino

[2017-03-13 03:10] #206 closed

[2017-03-13 03:10] mostaphaRoudsari commented on #206
![image](https://cloud.githubusercontent.com/assets/2915573/23839814/f3e6baea-0776-11e7-9666-56a1faf9e459.png)

[2017-03-13 03:12] mostaphaRoudsari commented on #146
This can also be part of the challenge that we had for this case: https://github.com/ladybug-tools/butterfly/issues/203

[2017-03-13 03:20] TheodoreGalanos commented on #206
Excellent!

[2017-03-13 04:17] mostaphaRoudsari commented on #205
@mdengusiak I added the output that you asked for. Download the new honeybee from package manager!

![image](https://cloud.githubusercontent.com/assets/2915573/23841249/57ede33c-0782-11e7-9c5f-f27ec5942b20.png)

[2017-03-13 04:17] #205 closed

[2017-03-13 22:59] mostaphaRoudsari commented on #187
@TheodoreGalanos thanks for the atrium example and @MikkiSeidenschnur thank you for checking it out! I simplified it and added it to the examples.

![image](https://cloud.githubusercontent.com/assets/2915573/23878618/d3fe57c6-081e-11e7-92d4-3b572a26b139.png)

@mdengusiak you can download it from the samples folder. I'm going to add the HVAC example next.

[2017-03-14 01:58] #187 closed

[2017-03-14 01:59] mostaphaRoudsari commented on #187
Done!

![image](https://cloud.githubusercontent.com/assets/2915573/23882466/2aa227a2-0837-11e7-8bee-f79e44da7304.png)

[2017-03-14 02:57] TheodoreGalanos commented on #187
@mostaphaRoudsari Nice! Looks like I'm pushing the wind inwards, meant to do it the opposite way, but it's a stylistic issue and won't matter practically really

[2017-03-14 03:58] mostaphaRoudsari commented on #196
https://github.com/ladybug-tools/butterfly-plus

[2017-03-14 03:58] #196 closed

[2017-03-14 22:00] mostaphaRoudsari commented on #207
**Update installation instructions**
- [ ] Separate the page for OpenFOAM installation.
- [ ] Update installation process for Grasshopper, and use Food4Rhino link for download.

- [ ] Update components in Grasshopper example files to the latest version. Maybe a good chance to re-write the update component to do what it needs really to do!

[2017-03-16 03:49] Lily-s opened #208 "Point is not inside the mesh or on a face or edge."
Hi,

I tried the outdoor airflow analysis. However, I kept receiving this error:

[code]

It doesn't happen when I used the default breps. This is the files that I used.
![screen](https://cloud.githubusercontent.com/assets/26450451/23980994/696cfa44-0a3e-11e7-8f03-cb055a314478.jpg)

How can I solve this?

Thank you!!

Cheers,
Lily

[2017-03-16 03:57] TheodoreGalanos commented on #208
Hi @Lily-s

OF is generally very explicit on error reporting. In this instance it is telling you that the locationInMesh input is outside the bounding box of the Wind Tunnel.

An easy way to get an automatic location in mesh from your model is to connect a bounding box component on the output of the Wind Tunnel component, right-click and press union box, then connect the output of that to a volume

[2017-03-16 06:14] Lily-s commented on #208
Hi @TheodoreGalanos ,

Thank you for your help.
I encountered another error,  some of the values at specific points are way higher compare to other points.
![capture](https://cloud.githubusercontent.com/assets/26450451/23984102/acedbac4-0a52-11e7-9660-56d0bfffd7a6.PNG)

Do you know what is the cause of this problem?

Thanks!!

Cheers,
Lily

[2017-03-16 06:20] TheodoreGalanos commented on #208
Hi @Lily-s this is usually an error that happens when the probe point is either near or outside the mesh, either on the edges of the mesh or very close to a Temperature. You can choose to ignore these points with a check (e.g. get rid anything above 1000).

The more permanent solution, if you are using a surface to generate your mesh points that you then plug in to the probe component, is to  scal

[2017-03-16 08:35] Lily-s commented on #208
Hi @TheodoreGalanos ,

Thanks! It works! I used the check approach (ignore the points below above 1000)!
May I know what does it means when the solution doesn't converge after 561 (default settings)?

Cheers,
Lily

[2017-03-16 08:38] TheodoreGalanos commented on #208
Hi @Lily-s Usually openfoam will tell you the opposite, something like "your solution has converged after 561 iterations". If you have that then this means your results are within the accuracy you requested (i.e. residual error).

If you mean that after 561 iterations it is still working then this means the opposite that it has not reached the residual errors requested. Generally, 561 iterations i

[2017-03-16 10:13] Lily-s commented on #208
Hi @TheodoreGalanos !

Okay, I got it now.
Thank you so much!

Cheers,
Lily

[2017-03-16 14:31] TheodoreGalanos opened #209 "Avoiding unnecessary computation - Create Wind Tunnel component"
At the moment every change in any input of the CWT component creates an unnecessary cascade of computation in the downstream components. However, the only inputs that should really affect the case downstream are:

- input geometry
- wind tunnel parameters
- mesh parameters

If possible we should allow the change of name, landscape value, windVector and refinementHeight without re-running any follo

[2017-03-16 14:32] TheodoreGalanos commented on #208
Hi @Lily-s I'm glad the problem was resolved! Have fun with Butterfly!

[2017-03-16 14:32] #208 closed

[2017-03-16 14:39] TheodoreGalanos commented on #193
Hi Francesco,

Sorry for the late response. You can increase refinement in any region you want by using the refinement region component.

What you need to do is draw your refinement region in Rhino (the most optimal shape is a box) around the area you want to refine, bring that to a brep in GH, connect that to a refinement region component, apply locationRefinement with the level of refinement you

[2017-03-16 14:42] TheodoreGalanos commented on #193
@frank984 I will go ahead and close the issue. Please feel free to reopen if there is still an open question after this.

[2017-03-16 14:42] #193 closed

[2017-03-16 17:00] mostaphaRoudsari commented on #208
@Lily-s one quick question. What was the units in your model? and which version of Butterfly are you using? I can probably check your file but it would be much easier if you can tell me the settings. Thanks.

[2017-03-16 22:09] TheodoreGalanos commented on #150
@mostaphaRoudsari what is the status of this?

It could help considerably with simulation speed if we implement it. Just need to test it quickly to make sure BF can run the case after. Also, the overwrite flag is useful to avoid creating a new time but will also change the 0 folder (adding information and turning them to zip files). Should be ok though since BF can re-write that folder anytime.

[2017-03-17 06:21] Lily-s commented on #208
Hi @mostaphaRoudsari .

It is in metres.
I'm using butterfly version 0.0.03.

Cheers,
Lily

[2017-03-20 11:42] MikkiSeidenschnur opened #210 "Simulating an occupant in a room"
Hi everyone

So I'm trying to model this geometry
![ms_csp_github](https://cloud.githubusercontent.com/assets/20814326/24098241/d597aee8-0d69-11e7-9af4-33069012ca99.PNG)
Blue: Inlet
Red: Exhaust

In the middle I have imported an STL model to Rhino and thereby referenced it into grasshopper, thus making it a wall boundary with a temperature of 34°C (This is prescribed in the benchmark test I'm tryi

[2017-03-20 11:45] thinklikeanarchitect commented on #210
I assume the whole geometry was meshed up, could you check the visual mesh component to ensure that inner mesh is visible (a true boolean toggle should be attached to it) ?

[2017-03-20 11:47] MikkiSeidenschnur commented on #210
@thinklikeanarchitect I just toggled the "innerMesh" to true, and it still looks the same.

[2017-03-20 11:50] thinklikeanarchitect commented on #210
There should be a problem with boundary definitions, could you share the model to be reviewed?

[2017-03-20 11:51] MikkiSeidenschnur commented on #210
@thinklikeanarchitect Yes sure, I've added the GH definition in the original post.

[2017-03-20 12:18] MikkiSeidenschnur commented on #210
@thinklikeanarchitect How do you normally create the buildings inside the "Tunnel". I can't really see why it is possible in the "OutdoorAirflow" and not in my case. Is it because the Occupant should somehow be subtracted from the domain?

[2017-03-20 12:39] thinklikeanarchitect commented on #210
Because you are simulating an indoor case. There's no need to subtract occupant from the domain, it should be automaatically done by defining it as solid boundary (heat source, wall or sth. like that).

[2017-03-20 12:41] DambronOlivier commented on #210
Hi @MikkiSeidenschnur ,

I have opened your definition and recreated your error with the initial file.
After setting the location in mesh of SHM different than the center of the domain which coincides with the human body, I successfully obtained all the elements meshed.

All the best,
Olivier

[2017-03-20 12:43] thinklikeanarchitect commented on #210
I have just seen the same thing, thx olivier.

[2017-03-20 12:43] MikkiSeidenschnur commented on #210
Great! Simple fix. I'm glad. Thank you, both of you :)

[2017-03-20 14:04] saket411 opened #211 "Increasing refinement level yields different results"
Hello all,

It might sound weird but for a particular outdoor run that I am doing, by changing the refinement levels from 1 or 2 to 3 changes the wind flow pattern drastically. I was doing a verification run with bf on a old project simulated in ansys.

![l_e4c tmp](https://cloud.githubusercontent.com/assets/1322619/24102248/46ddf688-0db6-11e7-8b56-5ee35d8aace4.PNG)
L - ref lvl 3, R - ref lvl 2
Th

[2017-03-20 14:10] thinklikeanarchitect commented on #211
You have confronted with mesh independency for the first time:)

I think its a normal situation, I have always done mesh independency studies as to get stabilisation in results. Otherwise your results will be depend on your mesh settings directly.

[2017-03-20 14:22] saket411 commented on #211
@**thinklikeanarchitect** Thank you for the prompt reply.
I read briefly about [mesh independency](https://www.quora.com/What-is-a-mesh-independent-solution/answer/Ssheshan-Pugazhendhi-1) just now.
So in your experience how does one make sure that the results are correct. Say I did not have the ansys results for this case. How am I suppose to deduce which of the two patterns (w or w/o downdraft) i

[2017-03-20 14:26] TheodoreGalanos commented on #211
@saket411 Yes that is correct. Usually you need around three meshes at different qualities to assure mesh independency.

If the results change by a large margin then you increase quality thresholds I believe.

Additionally, in your comparisons you should make sure you are using the same case setup in both models. Afaik, Fluent has a different wall boundary treatment and applies a wall boundary to

[2017-03-20 14:29] TheodoreGalanos commented on #210
@MikkiSeidenschnur I am sorry I am too late to respond was out of reach for a bit.

@thinklikeanarchitect and @DambronOlivier were on the spot. I am glad we are developing a nice community of CFD users here!

Generally, when you see weird meshes coming out of SHM, remember to check your boundary file and see if there's some boundaries missing (or some odd ones there that you didn't want, i.e. remn

[2017-03-20 14:30] thinklikeanarchitect commented on #211
Hi Saket, there is no easy way to achieve mesh independency, however you may try to increase ref.levels step by step until to see minor changes in the results, thats it. In further cases, you will gain experience on this:)

[2017-03-20 14:39] MikkiSeidenschnur commented on #210
![ms_csp_github2](https://cloud.githubusercontent.com/assets/20814326/24104777/52409996-0d83-11e7-8c80-d8f9c09541d3.PNG)
I must say the results of the meshing was rather satisfactory.
/Mikki

[2017-03-20 14:59] saket411 commented on #211
@**thinklikeanarchitect** @**TheodoreGalanos** Thank you very much for your input. Really appreciate it.

I understand that the case setup has to be similar in order to compare ansys and bf results. At the moment the motto of this run was to demonstrate my piers that BF can yield similar results to ansys. I will redefine the grading and cell sizes and see if things get resolved.

If I come across

[2017-03-20 14:59] #211 closed

[2017-03-20 16:26] TheodoreGalanos commented on #211
@saket411 Looking at your example pictures, I think you might have refined the area around the building too abruptly (I can tell there's a big difference by the number of arrows near that tower). I would start simple. Only refine surfaces in both software and play with the background mesh size accordingly. Region refinement can happen at later iterations.

For helpful references, I think the Urban

[2017-03-20 16:41] TheodoreGalanos commented on #210
@MikkiSeidenschnur Glad it worked! I will be closing this one if it's okay.

AS a side note, I think this is a small enough model for you to start experimenting with nSurfaceLayers.

They are quite useful, especially when doing thermal comfort analysis, as they allow to resolve the near wall layer flows. It takes a bit of trial and error to get the right number and expansion ratio/smallest-biggest

[2017-03-20 16:41] #210 closed

[2017-03-20 16:45] TheodoreGalanos commented on #107
@mostaphaRoudsari  I'm closing this one, should be ok?

[2017-03-20 18:12] thinklikeanarchitect commented on #210
Mikki, could you provide the latest version of your model please? It would
be very helpful for beginners.

20 Mar 2017 18:41 tarihinde "TheodoreGalanos" <notifications@github.com>
yazdı:

[2017-03-21 00:15] MikkiSeidenschnur commented on #210
@thinklikeanarchitect
Yes, I will provide it once I've looked upon the results tomorrow.

@TheodoreGalanos I know it's not SurfaceLayers, but I had quite a lot of fun meshing yesterday in another benchmark test I'm doing. Below is the result of the meshing
![ms_casestudy1_mesh_v3](https://cloud.githubusercontent.com/assets/20814326/24127279/a69fda88-0dd3-11e7-9a32-44ff3f9db0d2.png)

Also after a f

[2017-03-21 00:35] TheodoreGalanos commented on #210
@MikkiSeidenschnur excellent job! Thanks for validating cases!

Please share if you can, it will be very helpful for users.

Kind regards,
Theodore.

[2017-03-21 05:28] saket411 commented on #211
Thank you very much @**TheodoreGalanos** for the guidelines.
I should avoid abrupt refinement even if it is a test run and always make it a practice to follow the guidelines. I was wondering if it is possible to have multiple refinement boxes in the same model.

Heartiest Congratulations on the first release of Butterfly!!!

[2017-03-21 06:04] Lily-s commented on #208
Hi @TheodoreGalanos !

I have another question to ask,
I am trying to stimulate the wind condition in a park with many trees and shrubs around.
Do you think by changing the landscape parameter as 8, is accurate enough? Or Would it better if I model the trees?

Thanks!

Cheers,
lily

[2017-03-21 07:02] thinklikeanarchitect commented on #208
I strongly advise you to model the trees, check this article...
[Including trees in the numerical simulations.pdf](https://github.com/ladybug-tools/butterfly/files/857296/Including.trees.in.the.numerical.simulations.pdf)

[2017-03-21 10:09] TheodoreGalanos commented on #208
@Lily-s We are aiming to add the porosity solver in our next release, see #95 for more information.

as @thinklikeanarchitect mentioned the impact of landscape is too specific to be covered with the ground roughness parameter. The porosity solver is the best trade-off between quality of results and computational demand of the model. In the porosity solver you don't really mesh the trees but assign

[2017-03-21 10:11] TheodoreGalanos commented on #211
@saket411 you can indeed have as many refinement zones as you want in OF and they can be of any shape.

I STRONGLY suggest you only use rectangle boxes that are parallel to the wind flow to avoid meshing problems. Also, refinement regions in refinement regions (to progressively refine smaller zones inside larger areas) can usually cause problems with snapping the mesh. In these cases using the dis

[2017-03-21 10:26] MikkiSeidenschnur commented on #210
@TheodoreGalanos I will make sure to share it, once I've written the reports on them. Still need to do some validation on the meshing in order to stand by the work that I've done.
Also for the occupant case, I will try to apply surface layers and compare it to the current mesh that I've done.

[2017-03-21 16:04] mostaphaRoudsari commented on #107
I haven't implemented this yet, however, I mentioned it in the video. Let's keep this open not to forget to implement it at some point.

[2017-03-21 16:07] mostaphaRoudsari commented on #207
[butterfly](https://www.youtube.com/playlist?list=PLkjfDmSc5OrxwNaf7xmPJ5lpmF11J7kuE)
[butterfly_grasshopper](https://www.youtube.com/playlist?list=PLkjfDmSc5Orx2qJivQBA9Rgk2KAOiESmo)
[butterfly_dynamo](https://www.youtube.com/playlist?list=PLkjfDmSc5Orwm25oLj3cddDKR8SOXUP5l)

[2017-03-21 16:07] #207 closed

[2017-03-21 17:11] MikkiSeidenschnur commented on #210
@TheodoreGalanos I'm trying to do the surface layers now, and I'm really struggling with getting something that actually has a boundary layer. Do you have an example file available where it has been done?

[2017-03-21 19:11] MikkiSeidenschnur commented on #210
[MS_Case-Studies.zip](https://github.com/ladybug-tools/butterfly/files/859384/MS_Case-Studies.zip)

@thinklikeanarchitect Here you go, the cases that I've ran so far

Spent quite a lot of time with modelling the human body as seen in the ..._v2 GH definition in the folder - I'm still not satisfied with the result, but it's getting closer. If someone out there knows how to create proper boundary la

[2017-03-21 19:46] thinklikeanarchitect commented on #210
Hi Mikki, I have so many experiences on validation studies both on wind tunnel and different cfd codes. Could you mention about the case that you validated, I mean was it a tunnel study or a very general case like Ahmed Body or just a cfd result from any other software?

As to validation as a wind tunnel lab researcher, I can easily say that there are even major differences reaching uo to 60% in b

[2017-03-21 20:13] thinklikeanarchitect commented on #208
Thanks for the detailed reply Theodore. As you said the best economical solution is porosity option, actually as we know simulation means achieving most similar realistic model. However if there is no problem on computer resources 3d modelling approach can be used for simple cases. On the other hand as to porosity, an example file would be great and most of the users around me asking about it.

[2017-03-21 23:41] #192 closed

[2017-03-22 02:53] Lily-s commented on #208
Porosity solver seems great. I've tried to model the trees, but the site is too complex to do 3d modelling approach. The case file will be extremely helpful and I'm looking forward to your next release!
Thank you!

Regards,
Lily

[2017-03-22 05:42] thinklikeanarchitect commented on #208
Actually its not a solver, I think you can easily find porosity values of different tree species in literature with a rough research. Also the article that I uploaded is very helpul to see the effect of different trees. So if you re in a hurry, make research to find these values or use the method of Theodore that only model one tree and see the losses in pressure, thats it.

[2017-03-22 14:31] MikkiSeidenschnur commented on #210
@thinklikeanarchitect I mostly do validation based on experimental cases. We have a lot of indoor climate chambers at my university. I'm aware that results for outdoor analysis can vary insanely much, that's also one of the reasons why I've stayed clear of wind analysis so far.

It's always interesting to see what fellow researchers are coming up with, so I'd be glad to see your validation studies

[2017-03-22 14:42] TheodoreGalanos commented on #210
I can confirm that Linux is light speed ahead of running OF on windows. This is not an issue with BF of course but mostly the way OF is built and run (through Docker) in Windows. Of course this is relevant in complex models. Most indoor cases of a couple of zones would run fast in Windows as it is.

@mostaphaRoudsari Do you think we could consider adding this to the wiki? It might be good for the

[2017-03-22 14:51] MikkiSeidenschnur commented on #210
@TheodoreGalanos Yeah I think for simple indoor cases, it's mostly fine. For these validation cases that I'm doing with a human body, I definitely prefer taking it over on Linux. I've reached 750.000 cells so far, and still not completely satisfied with the yPlus values.

Speaking of: is there a way to make the calculation of yPlus values from BF? Is it just a funcObj ?

[2017-03-22 15:12] TheodoreGalanos commented on #210
@MikkiSeidenschnur Yes it's a function object. Haven't tried to see if I can add with custom inputs. It's on the list of upcoming features though, several function objects that is.

The hope is that users will will also let us know which ones they miss/want the most.

Currently, yPlus is quite easy to run from the terminal at least.

P.S.: I think you should go more than that. I think I was around

[2017-03-22 15:14] MikkiSeidenschnur commented on #210
@TheodoreGalanos Yeah I turned on the snapping for this case. Makes the body be represented much better. Still bothers me that I'm not snapping the edges of my domain though. Probably doesn't mean anything, but I'd like to know if you this there is a way to do it (Snap the edges of the domain that is)

[2017-03-22 16:15] TheodoreGalanos commented on #210
@MikkiSeidenschnur Yes I think that is smth we can do easily, since you can probably report it in runtime as well. Although, I don't think we need this small of yPlus. Typically we can be somewhere between 30 and 100, below 30 you are already trying to resolve the wall layer and you probably need different boundary conditions. This is out of memory and I haven't really tested all this much.

Conce

[2017-03-22 16:24] TheodoreGalanos commented on #210
@mostaphaRoudsari I just realized we can do this in Rhino as well, since it can load the .obj files.

This could be a really nice feature actually. We can load the object file created by the surfaceFeatureConvert utility along with the mesh. This way the users can see if they captured all the edges.

I'll try and test it out tomorrow, kind of late right now.

Kind regards,
Theodore.

[2017-03-22 17:50] MikkiSeidenschnur commented on #210
@TheodoreGalanos I'll try it out and see if I can get it to work, thank you

[2017-03-23 08:30] Lily-s commented on #208
I do understand the concept behind it (find porosity value through literature or model one tree to see the impact), but I am not sure how to assign the porosity values of the trees in butterfly. Is there resources where I could learn how to do it?

Thank you!

[2017-03-23 08:36] TheodoreGalanos commented on #208
@Lily-s At the moment there is no way to assign this through BF, as i mentioned it is a planned feature for upcoming releases.

I will probably get some time in the weekend to share an example of how this works in OF, will try to upload it here.

Kind regards,
Theodore.

[2017-03-23 12:57] DambronOlivier opened #212 "Multigrading on wind direction referential."
Hi @mostaphaRoudsari ,

When rotating the wind direction, although the wind tunnel rotates accordingly, it seems that the Multi-gradings remain on the world XYZ .
![capture](https://cloud.githubusercontent.com/assets/21184323/24248521/b8e4e8f0-0fc7-11e7-8915-9c16ba36beba.jpg)

Would it cause any issues if the referential of the gradings were set following the wind direction?

Kind Regards,
Olivier

[2017-03-23 12:59] thinklikeanarchitect commented on #212
I advise you to rotate the geometry according to wind direction, in my opinion thats the easiest way unless you have used cylindirical comp. domain.

[2017-03-23 13:08] DambronOlivier commented on #212
Hi @thinklikeanarchitect ,
Thanks.
Rotating the geometry and the test surface will require me to rotate all the Solution vectors backwards so as to compare the results. I was hoping to find a more direct method.

A cylindrical computational domain could be generated such as an indoor case within a cylinder?  In this case, generating a wind tunnel with the adequate leeward size to account for all t

[2017-03-23 13:42] TheodoreGalanos commented on #212
@DambronOlivier I don't think there is an error here. The multi-grading is applied on a vector basis (x, y, and z). Rotating your wind tunnel does not change the vectors and  their direction.

The quickest solution would be for you to swap X and Y multi grading at the grading component when you rotate your wind tunnel.

Rotating the geometry is also an option as @thinklikeanarchitect suggests. I u

[2017-03-23 13:43] thinklikeanarchitect commented on #212
If you dont want to mesh again and again every time and want to use rectangular domain, then for different wind directions (e.g. 45 degree from north) you have to define two inlets and two outlets at the same time.

[2017-03-23 13:48] thinklikeanarchitect commented on #212
As to multigrading, yours seems not accurate in my opinion for both cases. At first the finer mesh do not begin at inlet and then goes to coarse mesh at outlet. On the contrary, there should be grading taking the target building as starting point for finer mesh.

[2017-03-23 13:56] thinklikeanarchitect commented on #212
[arch.inst.japan cfd guidelines.pdf](https://github.com/ladybug-tools/butterfly/files/864903/arch.inst.japan.cfd.guidelines.pdf)

[2017-03-23 22:45] DambronOlivier commented on #212
Thank you very much both.

Kind Regards,
Olivier

[2017-03-23 23:52] DambronOlivier commented on #212
@thinklikeanarchitect
![capture](https://cloud.githubusercontent.com/assets/21184323/24274907/961962e0-1023-11e7-975d-095408292018.PNG)

Would this be more appropriate? I was aiming for 1:1 ratio around the geometries.

[2017-03-24 05:49] thinklikeanarchitect commented on #212
It seems good now:)

[2017-03-24 05:58] TheodoreGalanos commented on #212
@DambronOlivier The leeward side looks ok. I would increase the windward side cell count, that jump looks like it's 2x, your maximum should be around 1.2. Maybe 2-3 more cells on windward.

[2017-03-25 14:58] MikkiSeidenschnur commented on #210
@TheodoreGalanos Is there a way to turn on a surface-to-surface radiation model with Butterfly? Or would I have to do that manually. I can't really hit the "correct" values for the validation study discussed earlier. The temperature gradient of the room is very even, and the experiments suggests that it should be much higher.

[2017-03-25 15:56] TheodoreGalanos commented on #210
@MikkiSeidenschnur I'm afraid that option is not yet implemented in BF. You can turn on radiation manually in OF however after you've set up your case with BF. We will probably implement this in a subsequent release. There's a couple of radiation tutorials if you want to play around with them, in the incompressible/buoyantSimpleFoam folder.

Kind regards,
Theodore.

[2017-03-25 16:14] MikkiSeidenschnur commented on #210
@TheodoreGalanos Thanks for your response. I really find this feature essential, in order to validate any case that involves stratification in a building, so I'm glad to hear it is not off the table.

Best regards
Mikki Seidenschnur

[2017-03-25 17:47] MikkiSeidenschnur commented on #210
@TheodoreGalanos I have one more question for you with regards to turbulence modeling:
- Is it possible to use kOmegaSSTSAS model for incompressible flows, just with the use of Butterfly?

The reason I'm asking, is because the terminal executes, but then says:

"FOAM FATAL ERROR":
keyword wallDist is undefined in dictionary ".../fvSchemes"

I'm guessing that it simply hasn't been implemented yet,